<!-- breadcrumb-area start -->
{% if settings.breadcrumb_banner_enable %}
{% unless template == 'index' or template == 'product' or template == 'page.contact 02' %}
<section class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="breadcrumb-index">
                    <!-- breadcrumb main-title start-->
                    <div class="breadcrumb-title">
                        {% if template contains 'product' %}
                        <h1>{{ product.title | truncate: 30 }}</h1>
                        {% elsif template contains 'collection' and collection.handle %}
                        <h2>{{ collection.metafields.custom.interier_exterier.value }}</h2>
                        <h1>{{ collection.title | truncate: 30 }}</h1>
                        <div class="collection-dec">{{ collection.description }}</div>
                        {% elsif template == 'blog' %}
                        <h1>{{ blog.title | truncate: 30 }}</h1>
                        {% elsif template == 'article' %}
                        <h1>{{ blog.title | truncate: 30 }}</h1>
                        {% elsif template == 'search' %}
                        <h1>{{ page_title }}</h1>
                        {% else %}
                        <h1>{{ page_title | truncate: 30 }}</h1>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endunless %}
{% endif %}
<!-- breadcrumb-area end -->
<style>
.breadcrumb-area {
    padding-top: {{ settings.breadcrumb_padding_top }}px;
    padding-bottom: {{ settings.breadcrumb_padding_bottom }}px;
    min-height:250px;
    height:auto;
    margin:0 45px;
    {% if settings.breadcrumb_bg_image_enable %}
        {% if template == 'page.about' %}
        background-image: url('{% if settings.about_breadcrumb_bg_image %}{{ settings.about_breadcrumb_bg_image | img_url: 'master' }}{% else %}https://dummyimage.com/1920x300/f7f7f7/999999{% endif %}');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        {% elsif template contains 'collection' and collection.handle %}
        background-image: url('{% if collection.metafields.my_fields.cover_image %}{{ collection.metafields.my_fields.cover_image | img_url: 'master' }}{% else %}https://dummyimage.com/1920x300/f7f7f7/999999{% endif %}');
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.4);
        display: flex;
        justify-content: center;
        flex-direction: column;
        {% elsif template == 'page.about-modern' %}
        background-image: url('{% if settings.about_02_breadcrumb_bg_image %}{{ settings.about_02_breadcrumb_bg_image | img_url: 'master' }}{% else %}https://dummyimage.com/1920x300/f7f7f7/999999{% endif %}');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        {% elsif template == 'cart'  %}
        background-image:none;
        height:unset;
        padding:50px 0 0 0;
        {% elsif template == 'search' %}
        background-image:none;
        height:unset;
        padding:50px 0 0 0;
        {% elsif template == 'challenge' %}
        background-image:none;
        height:unset;
        padding:50px 0 0 0;
        {% elsif template contains 'customers' %}
        background-image:none;
        height:unset;
        padding:50px 0 0 0;
        {% else %}
        background-image: url('{% if settings.breadcrumb_bg_image %}{{ settings.breadcrumb_bg_image | img_url: 'master' }}{% else %}{% endif %}');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        {% endif %}
    {% else %}
    background-color: {{ settings.breadcrumb_bg_color }};
    {% endif %}
    position: relative;

    {% if settings.breadcrumb_bottom_border_enable %}
    border-top: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
    {% endif %}
}
{% if settings.breadcrumb_bg_image_enable %}
.breadcrumb-area::before {
    content: "";
    position: absolute;
    top: 0;
    z-index: -1;
    {% if settings.enable_rtl %}
    right: 0;
    {% else %}
    left: 0;
    {% endif %}
    width: 100%;
    height: 100%;
    background-color: {{ settings.breadcrumb_bg_image_overlay_color }};
    opacity: {{ settings.breadcrumb_bg_image_overlay_color_opacity }};
}
{% endif %}
@media (max-width: 1199px) {
    .breadcrumb-area {
        padding-top: {{ settings.breadcrumb_padding_top_ip }}px;
        padding-bottom: {{ settings.breadcrumb_padding_bottom_ip }}px;
        margin:0 30px;
    }
}
@media (max-width: 767px) {
    .breadcrumb-area {
        padding-top: {{ settings.breadcrumb_padding_top_xs }}px;
        padding-bottom: {{ settings.breadcrumb_padding_bottom_xs }}px;
    }
}
.collection-dec p, .collection-dec, .collection-dec span{
    color:#fff;
    text-align: center;
    font-size:16px;
    line-height: normal;
}
/* breadcrumb title css */
.breadcrumb-area .breadcrumb-index{
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
}
.breadcrumb-area .breadcrumb-index .breadcrumb-title {
    /* margin-top: 35px; */
    text-align: center;
}

{% if template == 'search' %}
.breadcrumb-area .breadcrumb-index .breadcrumb-title h1{
    font-size: 45px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    margin-bottom:20px;
    margin-top:10px;
}
.breadcrumb-area .breadcrumb-index .breadcrumb-title h2{
    font-size: 30px;
    font-weight: 500;
    line-height: 1;
    color: #000;
    
}
{% elsif template == 'cart' %}
.breadcrumb-area .breadcrumb-index .breadcrumb-title h1{
    font-size: 45px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    margin-bottom:20px;
    margin-top:10px;
}
.breadcrumb-area .breadcrumb-index .breadcrumb-title h2{
    font-size: 30px;
    font-weight: 500;
    line-height: 1;
    color: #000;
    
}
{% elsif template contains 'customers' %}
.breadcrumb-area .breadcrumb-index .breadcrumb-title h1{
    font-size: 45px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    margin-bottom:20px;
    margin-top:10px;
}
.breadcrumb-area .breadcrumb-index .breadcrumb-title h2{
    font-size: 30px;
    font-weight: 500;
    line-height: 1;
    color: #000;
    
}
{% else %}
.breadcrumb-area .breadcrumb-index .breadcrumb-title h1{
    font-size: 45px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    margin-bottom:20px;
    margin-top:10px;
}
.breadcrumb-area .breadcrumb-index .breadcrumb-title h2{
    font-size: 30px;
    font-weight: 500;
    line-height: 1;
    color: #fff;
    
}

{% endif %}
@media (max-width: 1199px) {
    .breadcrumb-area .breadcrumb-index .breadcrumb-title{
        margin-top: 15px;
    }
    .breadcrumb-area .breadcrumb-index .breadcrumb-title h1{
        font-size: 30px;
    }
    .breadcrumb-area .breadcrumb-index .breadcrumb-title h2{
        font-size: 25px;
    }
}
@media(max-width:900px){
    .breadcrumb-area .breadcrumb-index .breadcrumb-title h1{
        font-size: 25px;
    }
    .breadcrumb-area .breadcrumb-index .breadcrumb-title h2{
        font-size: 18px;
    }
    .breadcrumb-area .breadcrumb-index .breadcrumb-title .collection-dec{
        font-size:14px;
    }
}
@media (max-width: 767px) {
    .breadcrumb-area .breadcrumb-index .breadcrumb-title h1{
        font-size: 20px;
    }
    .breadcrumb-area .breadcrumb-index .breadcrumb-title h2{
        font-size: 16px;
    }
    .breadcrumb-area{
        margin: 0 15px;
    }
}
@media (max-width: 500px) {
    .breadcrumb-area .breadcrumb-index .breadcrumb-title .collection-dec{
        font-size:12px;
    }
}
#myBtnMore{
    font-weight: bold;
    color:#fff;
    font-size:16px;
}
@media(max-width:768px){
#more {display: none;}
}
@media(min-width:769px){
    #myBtnMore, #dots{
        display:none;
    }
    #more {display: contents;}
}
</style>
<script>
    function showMoreText() {
        var dots = document.getElementById("dots");
        var moreText = document.getElementById("more");
        var btnText = document.getElementById("myBtnMore");
      
        if (dots.style.display === "none") {
          dots.style.display = "inline";
          btnText.innerHTML = "&gt; více";
          moreText.style.display = "none";
        } else {
          dots.style.display = "none";
          btnText.innerHTML = "< méně";
          moreText.style.display = "inline";
        }
      }
  </script>