
{% unless template == 'index' or template == 'product' %}
<ul class="breadcrumb-list">

  <li class="breadcrumb-item">
    <a href="/" title="{{ 'general.breadcrumbs.home_link_title' | t }}">{{ 'general.breadcrumbs.home' | t }}</a>
  </li>
  {% if template contains 'product' %}

  {% if collection %}
  {% if collection.handle %}
  {% capture url %}/collections/{{ collection.handle }}{% endcapture %}
  <li class="breadcrumb-item">
    {{ collection.title | link_to: url }}
  </li>
  {% endif %}
  {% endif %}

  <li class="breadcrumb-item">
    <span>{{ product.title | truncate: 30 }}</span>
  </li>

  {% elsif template contains 'collection' and collection.handle %}


  {% if current_tags %}
  {% capture url %}/collections/{{ collection.handle }}{% endcapture %}
  <li class="breadcrumb-item">
    {{ collection.title | link_to: url }}
  </li>

  <li class="breadcrumb-item">
    <span>{{ current_tags | join: " + " | replace: "tags_", "#" }}</span>
  </li>
  {% else %}
{% if collection.metafields.custom.interier_exterier != blank %}
  <li class="breadcrumb-item">
    <span>{{ collection.metafields.custom.interier_exterier.value }}</span>
  </li>
{% endif %}
  <li class="breadcrumb-item">
    <span>{{ collection.title }}</span>
  </li>
  {% endif %}

  {% elsif template == 'blog' %}

  {% if current_tags %}
  <li class="breadcrumb-item">
    {{ blog.title | link_to: blog.url }}
  </li>
  <li class="breadcrumb-item">
    <span>{{ current_tags | join: " + " }}</span>
  </li>
  {% else %}
  <li class="breadcrumb-item">
    <span>{{ blog.title }}</span>
  </li>
  {% endif %}


  {% elsif template == 'article' %}

  <li class="breadcrumb-item">
    {{ blog.title | link_to: blog.url }}
  </li>
  {% comment %}
  <li class="breadcrumb-item">
    <span>{{ article.title | truncate: 30 }}</span>
  </li>{% endcomment %}

  {% elsif template contains 'page' %}

  <li class="breadcrumb-item">
    <span>{{ page.title }}</span>
  </li>

  {% else %}

  <li class="breadcrumb-item">
    <span>{{ page_title }}</span>
  </li>

  {% endif %}
</ul>
{% endunless %}
<style>
  ul.breadcrumb-list {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    align-items: center;
  }
  ul.breadcrumb-list li {
    position: relative;
    display: flex;
    align-items: baseline;
    padding-right: 10px;
    margin-right: 3px;
  }
  ul.breadcrumb-list li::after{
    content: '-';
    font-size: 14px;
    padding:0 20px;
    /* width: 2px; */
    background-color: rgb(255, 255, 255, 1);
  }
  ul.breadcrumb-list li:last-child::after{
    display: none;
  }
  ul.breadcrumb-list li.breadcrumb-item + li.breadcrumb-item {
    padding-left: 0;
    padding-right: 0;
    margin-right: 0;
  }
  ul.breadcrumb-list li.breadcrumb-item + li.breadcrumb-item::before{
    content: "";
    display: block;
    padding-right: 0;
  }
  ul.breadcrumb-list li a{
    font-size: 14px;
    color: {{ settings.breadcrumb_main_color }};
  }
  ul.breadcrumb-list li span{
    {% if settings.breadcrumb_main_color %}
    color: {{ settings.breadcrumb_main_color }};
    {% else %}
    color: {{ settings.color_primary }};
    {% endif %}
    font-size: 14px;
  }
  @media (max-width: 1199px) {
    ul.breadcrumb-list li span,
    ul.breadcrumb-list li a{
      font-size: 14px;
    }
  }

</style>
