{% capture media_class %}product-featured-media{% endcapture %}
<div class="thumbnail-img2" data-image="{{ media.src | img_url: 'master' }}" data-image-id="{{ media.id }}">
  {% case media.media_type %}
    {% when 'image' %}
      {% capture zoom_media_id %}ImageZoom-{{ section.id }}-{{ media.id }}{% endcapture %}
      {%- assign img_url = media | img_url: 'master' -%}
      <img id="{{ media_id }}"
          class="img-fluid {{ media_class }} lazyload"
          src="{{ img_url }}"
          alt="{{ media.alt | escape }}">
  {% endcase %}
</div>