
{%- include 'wcp_discount' with product -%}
            {%- include 'wcp_variant' with product.selected_or_first_available_variant -%}
{% if product.description contains '[sale_products]' and product.available %}
{% assign sale_products_first = product.description | split:'[/sale_products]' | first %}
{% assign sale_products_final = sale_products_first | split:'[sale_products]' | last %}
{% assign date_pub_y = product.published_at | date:'%Y' %}
{% assign date_pub_d = product.published_at | date:'%j' %}
{% assign date_now_y = 'now' | date:'%Y' %}
{% assign date_now_d = 'now' | date:'%j' %}
{% assign dates_diff_y = date_now_y | minus: date_pub_y | times: 365 %}
{% assign dates_diff_d = date_now_d | minus: date_pub_d %}
{% assign dates_diff = dates_diff_y | plus: dates_diff_d %}
{% assign sale_products_period = sale_products_final | plus: 0 %}
{% if dates_diff <= sale_products_period %}
<span class="sale-title">{{ settings.sale_title }}</span>
{% endif %}
{% endif %}
{% if product.description contains '[new_products]' and product.available %}
{% assign new_products_first = product.description | split:'[/new_products]' | first %}
{% assign new_products_final = new_products_first | split:'[new_products]' | last %}
{% assign date_pub_y = product.published_at | date:'%Y' %}
{% assign date_pub_d = product.published_at | date:'%j' %}
{% assign date_now_y = 'now' | date:'%Y' %}
{% assign date_now_d = 'now' | date:'%j' %}
{% assign dates_diff_y = date_now_y | minus: date_pub_y | times: 365 %}
{% assign dates_diff_d = date_now_d | minus: date_pub_d %}
{% assign dates_diff = dates_diff_y | plus: dates_diff_d %}
{% assign new_products_period = new_products_final | plus: 0 %}
{% if dates_diff <= new_products_period %}
<span class="new-title">{{ settings.new_title }}</span>
{% endif %}
{% endif %}
{% if on_sale %}
<!-- {% if settings.sale_percent_enable and product.available %}
<span class="percent-count">-{{ wcp_v_compare_at_price | minus: wcp_v_price | times: 100.0 | divided_by: wcp_v_compare_at_price | money_without_currency | replace: ',', '.' | times: 100 | remove: '.0'}}%</span>
{% endif %} -->
{% endif %}
{% if sold_out %}
<span class="soldout-title">{{ 'products.general.out_of_stock' | t  }}</span>
{% endif %}
{%- assign wcp_prd_var = product -%}
{%- unless wcp_prd_var == empty -%}
            <script type='application/json' class='{%- for wcp_v in wcp_prd_var.variants -%} wcp_json_{{wcp_v.id}} {%- endfor -%} wcp_json_{{ wcp_prd_var.id }} wcp_json' id='wcp_json_{{ wcp_prd_var.id }}' > 
                {%- render 'wcp_product_json' with wcp_prd_var -%}
            </script>
{%- endunless -%}
