<noscript>
  {%- form 'localization', id: 'FooterCountryFormNoScript', class: 'localization-form' -%}
  <div class="localization-form__select">
    <h2 class="visually-hidden" id="FooterCountryLabelNoScript">{{ 'localization.country_label' | t }}</h2>
    <select class="localization-selector link" name="country_code" aria-labelledby="FooterCountryLabelNoScript">
      {%- for country in localization.available_countries -%}
      <option value="{{ country.iso_code }}" {%- if country.iso_code == localization.country.iso_code %} selected{% endif %}>
        {{ country.name }} ({{ country.currency.iso_code }} {{ country.currency.symbol }})
      </option>
      {%- endfor -%}
    </select>
  </div>
  <button class="button button--tertiary">{{ 'localization.update_country' | t }}</button>
  {%- endform -%}
</noscript>
<localization-form>
  {%- form 'localization', id: 'FooterCountryForm', class: 'localization-form' -%}
  <button aria-controls="menu-currency" data-bs-target="#menu-currency" data-bs-toggle="collapse" type="button" class="currency-title localization-form__select localization-selector link link--text caption-large" aria-describedby="FooterCountryLabel">
    {% if settings.show_flag %}<span class="flag {{ localization.country.iso_code | downcase  }}"></span> {% endif %}

    {% if settings.show_name %}{{ localization.country.name }}{% endif %}

    {% if settings.show_iso_code %}{{ localization.country.currency.iso_code }}{% endif %}

    {% if settings.show_symbol %}{{ localization.country.currency.symbol }}{% endif %}

  </button>
  <ul role="list" class="collapse" id="menu-currency">
    {%- for country in localization.available_countries -%}
    <li class="disclosure__item" tabindex="-1">
      <a class="link link--text disclosure__link caption-large{% if country.iso_code == localization.country.iso_code %} disclosure__link--active{% endif %} focus-inset" href="#"{% if country.iso_code == localization.country.iso_code %} aria-current="true"{% endif %} data-value="{{ country.iso_code }}">
        {% if settings.show_flag %}<span class="flag {{ country.iso_code | downcase  }}"></span>{% endif %}
        {% if settings.show_name %}{{ country.name }} {% endif %}
        <span class="localization-form__currency">
          {% if settings.show_iso_code %}{{ country.currency.iso_code }}{% endif %}
          {% if settings.show_symbol %}{{ country.currency.symbol }}{% endif %}
        </span>
      </a>
    </li>
    {%- endfor -%}
  </ul>
  <input type="hidden" name="country_code" value="{{ localization.country.iso_code }}">
  {%- endform -%}
</localization-form>
<script type="text/javascript">
  class LocalizationForm extends HTMLElement {
    constructor() {
      super();
      this.elements = {
        input: this.querySelector('input[name="locale_code"], input[name="country_code"]'),
        button: this.querySelector('button'),
        panel: this.querySelector('ul'),
      };
      this.elements.button.addEventListener('focusout', this.closeSelector.bind(this));
      this.addEventListener('keyup', this.onContainerKeyUp.bind(this));
      this.querySelectorAll('a').forEach(item => item.addEventListener('click', this.onItemClick.bind(this)));
    }
    onContainerKeyUp(event) {
      if (event.code.toUpperCase() !== 'ESCAPE') return;
      this.elements.button.focus();
    }
    onItemClick(event) {
      event.preventDefault();
      const form = this.querySelector('form');
      this.elements.input.value = event.currentTarget.dataset.value;
      if (form) form.submit();
    }
    closeSelector(event) {
      const shouldClose = event.relatedTarget && event.relatedTarget.nodeName === 'BUTTON';
      if (event.relatedTarget === null || shouldClose) {
      }
    }
  }
  customElements.define('localization-form', LocalizationForm);
</script>
<style type="text/css">
  .flag{
    display:inline-block;
    width:16px;
    height:11px;
    margin-right: 10px;
    background:url({{ 'flags.png' | asset_url }}) no-repeat
  }
  .flag.gu{background-position:-96px -55px}.flag.mn{background-position:-208px -88px}.flag.va{background-position:-48px -154px}.flag.tibet{background-position:-32px -143px}.flag.fo{background-position:-64px -44px}.flag.th{background-position:-16px -143px}.flag.tr{background-position:-144px -143px}.flag.tl{background-position:-80px -143px}.flag.kz{background-position:-144px -77px}.flag.zm{background-position:-16px -165px}.flag.uz{background-position:-32px -154px}.flag.dk{background-position:-64px -33px}.flag.scotland{background-position:-176px -121px}.flag.gi{background-position:-224px -44px}.flag.gy{background-position:-128px -55px}.flag.bj{background-position:-112px -11px}.flag.fr{background-position:-80px -44px}.flag.mo{background-position:-224px -88px}.flag.ir{background-position:-112px -66px}.flag.io{background-position:-80px -66px}.flag.tm{background-position:-96px -143px}.flag.ch{background-position:-96px -22px}.flag.mt{background-position:-32px -99px}.flag.nl{background-position:-240px -99px}.flag.gp{background-position:-16px -55px}.flag.im{background-position:-48px -66px}.flag.tv{background-position:-176px -143px}.flag.mu{background-position:-48px -99px}.flag.pe{background-position:-96px -110px}.flag.vi{background-position:-112px -154px}.flag.hn{background-position:-176px -55px}.flag.ss{background-position:-128px -132px}.flag.ae{background-position:-16px 0}.flag.td{background-position:-240px -132px}.flag.pw{background-position:0 -121px}.flag.nu{background-position:-32px -110px}.flag.bt{background-position:-208px -11px}.flag.ms{background-position:-16px -99px}.flag.cv{background-position:-240px -22px}.flag.es{background-position:-224px -33px}.flag.mh{background-position:-144px -88px}.flag.la{background-position:-160px -77px}.flag.vn{background-position:-128px -154px}.flag.py{background-position:-16px -121px}.flag.br{background-position:-176px -11px}.flag.ye{background-position:-224px -154px}.flag.ie{background-position:0 -66px}.flag.gh{background-position:-208px -44px}.flag.cg{background-position:-80px -22px}.flag.cu{background-position:-224px -22px}.flag.hu{background-position:-224px -55px}.flag.sg{background-position:-224px -121px}.flag.at{background-position:-176px 0}.flag.lk{background-position:-224px -77px}.flag.vu{background-position:-144px -154px}.flag.bo{background-position:-160px -11px}.flag.jo{background-position:-208px -66px}.flag.er{background-position:-208px -33px}.flag.za{background-position:-256px -154px}.flag.rs{background-position:-80px -121px}.flag.nr{background-position:-16px -110px}.flag.ls{background-position:-256px -77px}.flag.jm{background-position:-192px -66px}.flag.tz{background-position:-208px -143px}.flag.ki{background-position:-16px -77px}.flag.sj{background-position:0 -132px}.flag.cz{background-position:-16px -33px}.flag.pg{background-position:-128px -110px}.flag.lv{background-position:-32px -88px}.flag.do{background-position:-96px -33px}.flag.lu{background-position:-16px -88px}.flag.no{background-position:-256px -99px}.flag.kw{background-position:-112px -77px}.flag.mx{background-position:-96px -99px}.flag.yt{background-position:-240px -154px}.flag.ly{background-position:-48px -88px}.flag.cy{background-position:0 -33px}.flag.ph{background-position:-144px -110px}.flag.my{background-position:-112px -99px}.flag.sm{background-position:-48px -132px}.flag.et{background-position:-240px -33px}.flag.ru{background-position:-96px -121px}.flag.tj{background-position:-48px -143px}.flag.ai{background-position:-64px 0}.flag.pl{background-position:-176px -110px}.flag.kp{background-position:-64px -77px}.flag.uy{background-position:-16px -154px}.flag.gb{background-position:-112px -44px}.flag.gs{background-position:-64px -55px}.flag.kurdistan{background-position:-96px -77px}.flag.rw{background-position:-112px -121px}.flag.ec{background-position:-128px -33px}.flag.mm{background-position:-192px -88px}.flag.pa{background-position:-80px -110px}.flag.wales{background-position:-160px -154px}.flag.kg{background-position:-256px -66px}.flag.ve{background-position:-80px -154px}.flag.tk{background-position:-64px -143px}.flag.ca{background-position:-16px -22px}.flag.is{background-position:-128px -66px}.flag.ke{background-position:-240px -66px}.flag.ro{background-position:-64px -121px}.flag.gq{background-position:-32px -55px}.flag.pt{background-position:-256px -110px}.flag.tf{background-position:-256px -132px}.flag.ad{background-position:0 0}.flag.sk{background-position:-16px -132px}.flag.pm{background-position:-192px -110px}.flag.om{background-position:-64px -110px}.flag.an{background-position:-112px 0}.flag.ws{background-position:-192px -154px}.flag.sh{background-position:-240px -121px}.flag.mp{background-position:-240px -88px}.flag.gt{background-position:-80px -55px}.flag.cf{background-position:-64px -22px}.flag.zanzibar{background-position:0 -165px}.flag.mw{background-position:-80px -99px}.flag.catalonia{background-position:-32px -22px}.flag.ug{background-position:-240px -143px}.flag.je{background-position:-176px -66px}.flag.km{background-position:-32px -77px}.flag.in{background-position:-64px -66px}.flag.bf{background-position:-48px -11px}.flag.mc{background-position:-80px -88px}.flag.sy{background-position:-192px -132px}.flag.sn{background-position:-64px -132px}.flag.kr{background-position:-80px -77px}.flag.eu{background-position:-256px -33px}.flag.bn{background-position:-144px -11px}.flag.st{background-position:-144px -132px}.flag.england{background-position:-192px -33px}.flag.lc{background-position:-192px -77px}.flag.dm{background-position:-80px -33px}.flag.be{background-position:-32px -11px}.flag.ni{background-position:-224px -99px}.flag.ua{background-position:-224px -143px}.flag.mz{background-position:-128px -99px}.flag.pf{background-position:-112px -110px}.flag.tn{background-position:-112px -143px}.flag.ee{background-position:-144px -33px}.flag.xk{background-position:-208px -154px}.flag.sx{background-position:-176px -132px}.flag.sd{background-position:-192px -121px}.flag.gd{background-position:-128px -44px}.flag.ci{background-position:-112px -22px}.flag.sz{background-position:-208px -132px}.flag.cl{background-position:-144px -22px}.flag.fi{background-position:0 -44px}.flag.ga{background-position:-96px -44px}.flag.jp{background-position:-224px -66px}.flag.de{background-position:-32px -33px}.flag.np{background-position:0 -110px}.flag.re{background-position:-48px -121px}.flag.bg{background-position:-64px -11px}.flag.sc{background-position:-160px -121px}.flag.ng{background-position:-208px -99px}.flag.qa{background-position:-32px -121px}.flag.mk{background-position:-160px -88px}.flag.aw{background-position:-208px 0}.flag.kn{background-position:-48px -77px}.flag.al{background-position:-80px 0}.flag.bw{background-position:-240px -11px}.flag.um{background-position:-256px -143px}.flag.ky{background-position:-128px -77px}.flag.tt{background-position:-160px -143px}.flag.so{background-position:-80px -132px}.flag.lt{background-position:0 -88px}.flag.by{background-position:-256px -11px}.flag.bb{background-position:0 -11px}.flag.us{background-position:0 -154px}.flag.md{background-position:-96px -88px}.flag.ag{background-position:-48px 0}.flag.hm{background-position:-160px -55px}.flag.as{background-position:-160px 0}.flag.eg{background-position:-160px -33px}.flag.sv{background-position:-160px -132px}.flag.sl{background-position:-32px -132px}.flag.fk{background-position:-32px -44px}.flag.am{background-position:-96px 0}.flag.ck{background-position:-128px -22px}.flag.tw{background-position:-192px -143px}.flag.kh{background-position:0 -77px}.flag.to{background-position:-128px -143px}.flag.se{background-position:-208px -121px}.flag.cd{background-position:-48px -22px}.flag.pn{background-position:-208px -110px}.flag.gr{background-position:-48px -55px}.flag.id{background-position:-256px -55px}.flag.vc{background-position:-64px -154px}.flag.somaliland{background-position:-96px -132px}.flag.bi{background-position:-96px -11px}.flag.pk{background-position:-160px -110px}.flag.pr{background-position:-224px -110px}.flag.bd{background-position:-16px -11px}.flag.co{background-position:-192px -22px}.flag.fm{background-position:-48px -44px}.flag.bm{background-position:-128px -11px}.flag.ar{background-position:-144px 0}.flag.bv{background-position:-224px -11px}.flag.sb{background-position:-144px -121px}.flag.mq{background-position:-256px -88px}.flag.eh{background-position:-176px -33px}.flag.bh{background-position:-80px -11px}.flag.it{background-position:-144px -66px}.flag.hr{background-position:-192px -55px}.flag.sa{background-position:-128px -121px}.flag.mv{background-position:-64px -99px}.flag.mg{background-position:-128px -88px}.flag.dz{background-position:-112px -33px}.flag.gg{background-position:-192px -44px}.flag.gm{background-position:-256px -44px}.flag.af{background-position:-32px 0}.flag.li{background-position:-208px -77px}.flag.sr{background-position:-112px -132px}.flag.vg{background-position:-96px -154px}.flag.cr{background-position:-208px -22px}.flag.tc{background-position:-224px -132px}.flag.ao{background-position:-128px 0}.flag.ma{background-position:-64px -88px}.flag.mr{background-position:0 -99px}.flag.gn{background-position:0 -55px}.flag.ne{background-position:-176px -99px}.flag.nf{background-position:-192px -99px}.flag.wf{background-position:-176px -154px}.flag.hk{background-position:-144px -55px}.flag.gf{background-position:-160px -44px}.flag.ps{background-position:-240px -110px}.flag.ic{background-position:-240px -55px}.flag.cw{background-position:-256px -22px}.flag.ml{background-position:-176px -88px}.flag.ax{background-position:-224px 0}.flag.gl{background-position:-240px -44px}.flag.dj{background-position:-48px -33px}.flag.cn{background-position:-176px -22px}.flag.ht{background-position:-208px -55px}.flag.lr{background-position:-240px -77px}.flag.tg{background-position:0 -143px}.flag.ba{background-position:-256px 0}.flag.ge{background-position:-144px -44px}.flag.bz{background-position:0 -22px}.flag.au{background-position:-192px 0}.flag.iq{background-position:-96px -66px}.flag.cm{background-position:-160px -22px}.flag.gw{background-position:-112px -55px}.flag.az{background-position:-240px 0}.flag.na{background-position:-144px -99px}.flag.fj{background-position:-16px -44px}.flag.zw{background-position:-32px -165px}.flag.bs{background-position:-192px -11px}.flag.il{background-position:-16px -66px}.flag.nz{background-position:-48px -110px}.flag.me{background-position:-112px -88px}.flag.si{background-position:-256px -121px}.flag.nc{background-position:-160px -99px}.flag.lb{background-position:-176px -77px}
</style>