<section class="about-modern-section5">
  <div class="container-fluid">
    <div class="row">
       <div class="col-xl-10 col-lg-12 col-md-12 col-12 col-center">
        <div class="row">
          <div class="col-xl-4 col-lg-4 col-md-12 col-12">
            <div class="main-title">
              <h2>
                <span>{{ section.settings.section_title }}</span>
              </h2>
              <p>{{ section.settings.section_sub_des }}</p>
              <a class="btn btn-style7" href="{{ section.settings.title_button_url }}">{{ section.settings.title_button }}</a>
            </div>
          </div>
          <div class="col-xl-5 col-lg-5 col-md-6 col-12">
            <div class="about-banner wow animate__fadeIn">
              <img class="img-fluid" src="{% if section.settings.about_banner %}{{ section.settings.about_banner | img_url: 'master' }}{% else %}https://dummyimage.com/500x565/f7f7f7/999999{% endif %}" alt="">
            </div>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-6 col-12">
            <div class="list-content">
              <ul>
                {% for block in section.blocks %}
                <li>
                  <div class="list-block">
                    <h2>{{ block.settings.list_counter }}</h2>
                    <h6>{{ block.settings.counter_list_title }}</h6>
                  </div>
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% schema %}
{
  "name": "About Modern Section 5",
  "settings": [
    {
    "type": "header",
    "content": "Section Padding"
  },
  {
    "type" : "paragraph",
    "content" : "Desktop / Laptop"
  },
  {
    "type": "range",
    "id": "section_padding_top",
    "label": "Section Padding Top",
    "min": 0,
    "max": 100,
    "step": 5,
    "unit": "px",
    "default": 100
  },
  {
    "type": "range",
    "id": "section_padding_bottom",
    "label": "Section Padding bottom",
    "min": 0,
    "max": 100,
    "step": 5,
    "unit": "px",
    "default": 100
  },
  {
    "type" : "paragraph",
    "content" : "Ipad pro / Ipad"
  },
  {
    "type": "range",
    "id": "section_padding_top_lg",
    "label": "Section Padding Top",
    "min": 0,
    "max": 100,
    "step": 5,
    "unit": "px",
    "default": 60
  },
  {
    "type": "range",
    "id": "section_padding_bottom_lg",
    "label": "Section Padding bottom",
    "min": 0,
    "max": 100,
    "step": 5,
    "unit": "px",
    "default": 60
  },
  {
    "type" : "paragraph",
    "content" : "Mobile"
  },
  {
    "type": "range",
    "id": "section_padding_top_xs",
    "label": "Section Padding Top",
    "min": 0,
    "max": 100,
    "step": 5,
    "unit": "px",
    "default": 40
  },
  {
    "type": "range",
    "id": "section_padding_bottom_xs",
    "label": "Section Padding bottom",
    "min": 0,
    "max": 100,
    "step": 5,
    "unit": "px",
    "default": 40
  },
    {
      "type": "header",
      "content": "Section Background Color"
    },
    {
      "type": "color",
      "id": "section_bg_color",
      "label": "Section Background Color",
      "default": "#f6f6f6"
    },
    {
      "type": "header",
      "content": "Section Padding"
    },
    {
      "type": "text",
      "id": "section_title",
      "label": "Section Main Title",
      "default": "Innovative solutions to boost your projects"
    },
    {
      "type": "text",
      "id": "section_sub_des",
      "label": "Section Sub Description",
      "default": "Lorem ipsum dolor amet consectetur adipiscing elit eiusmod tempor incididunt labore et dolore magna enim minim veniam nostrud exercitation ullamco laboris nisiut aliquip ex ea commodo."
    },
    {
      "type": "text",
      "id": "title_button",
      "label": "Title Button",
      "default": "Discover staffy"
    },
    {
      "type": "url",
      "id": "title_button_url",
      "label": "Title URL"
    },
    {
      "type": "header",
      "content": "Banner Block"
    },
    {
        "type": "image_picker",
        "id": "about_banner",
        "label": "About Banner Image",
        "info": "Recommended Size: 500px x 565px"
    }
  ],
  "blocks" : [
    {
      "type" : "counter",
      "name" : "About Counter",
      "limit" : 3,
      "settings" : [
        {
          "type" : "header",
          "content" : "counter up"
        },
        {
          "type": "text",
          "id": "list_counter",
          "label": "List Counter",
          "default": "2500"
        },
        {
          "type": "text",
          "id": "counter_list_title",
          "label": "Counter List Title",
          "default": "Working Hours"
        }
      ]
    }
  ],
  "presets":[
    {
      "name": "About Modern Section 5",
      "category": "About Modern"
    }
  ]
}
{% endschema %}
<style>
  .about-modern-section5 {
    padding-top: {{ section.settings.section_padding_top }}px;
    padding-bottom: {{ section.settings.section_padding_bottom }}px;
    background-color: {{ section.settings.section_bg_color }};
  }
  @media (max-width: 1199px) {
    .about-modern-section5 {
      padding-top: {{ section.settings.section_padding_top_ipad }}px;
      padding-bottom: {{ section.settings.section_padding_bottom_ipad }}px;
    }
  }
  @media (max-width: 767px) {
    .about-modern-section5 {
      padding-top: {{ section.settings.section_padding_top_xs }}px;
      padding-bottom: {{ section.settings.section_padding_bottom_xs }}px;
    }
  }
  /*section title*/
  .about-modern-section5 .main-title {
    width: 90%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
  }
  .about-modern-section5 .main-title h2{
    font-size: 40px;
  }
  .about-modern-section5 .main-title p{
    font-size: 16px;
    margin-top: 30px;
  }
  .about-modern-section5 .main-title a{
    margin-top: 40px;
  }
  @media(max-width: 1199px){
    .about-modern-section5 .main-title{
      justify-content: center;
      width: 100%;
    }
    .about-modern-section5 .main-title h2{
      font-size: 26px;
    }
    .about-modern-section5 .main-title p{
      margin-top: 15px;
    }
    .about-modern-section5 .main-title a{
      margin-top: 25px;
    }
  }
  @media(max-width: 991px){
    .about-modern-section5 .main-title a{
      margin-top: 20px;
    }
  }
  @media(max-width: 767px){
    .about-modern-section5 .main-title h2{
      font-size: 20px;
    }
  }
  /*list content*/
  .about-modern-section5 .about-banner{
    margin-left: 30px;
  }
  .about-modern-section5 .about-banner img{
    border-radius: 5px;
  } 
  .about-modern-section5 .list-content {
    height: 100%;
  }

  .about-modern-section5 .list-content ul{
    display: flex;
    height: 100%;
    justify-content: center;
    flex-direction: column;
  }

  .about-modern-section5 .list-content ul li:first-child{
    margin-top: 0;
    padding-top: 0;
    border-top: 0;
  }
  .about-modern-section5 .list-content ul li {
    margin-top: 60px;
    padding-top: 60px;
    width: 50%;
    border-top: 1px solid #e2e2e2;
  }
  .about-modern-section5 .list-content ul li .list-block h2{
    font-size: 46px;
    line-height: 1;
  }
  .about-modern-section5 .list-content ul li .list-block h6{
    font-size: 18px;
    font-weight: 500;
    margin-top: 15px;
    color: #6f6f6f;
    line-height: 1;
  }
  @media(max-width: 1199px){
    .about-modern-section5 .list-content ul li .list-block h2{
      font-size: 26px;
    }
    .about-modern-section5 .list-content ul li .list-block h6{
      font-size: 16px;
    }
    .about-modern-section5 .list-content ul li{
      width: 100%;
      margin-top: 15px;
      padding-top: 15px;
    }
  }
  @media(max-width: 991px){
    .about-modern-section5 .about-banner{
      margin-left: 0px;
      margin-top: 30px;
    }
  }
  @media(max-width: 767px){
    .about-modern-section5 .list-content{
      margin-top: 30px;
    }
    .about-modern-section5 .list-content ul li .list-block h2{
      font-size: 20px;
    }
  }
</style>