<section class="contactPage">
	<div class="contactPage__wrapper wrapper">
        {% if section.settings.contact_page_title != '' %}
          <h1>{{ section.settings.contact_page_title }}</h1>
        {% endif %}
		<div class="contactPage__row">
            <div class="contactPage__col contactPage__col--info">
                {% if section.settings.contact_page_companyname != '' %}
                <strong class="contactPage__companyName">
                    {{ section.settings.contact_page_companyname }}
                </strong>  
                {% endif %}

                {% if section.settings.contact_page_companyinfo != '' %}
                <div class="contactPage__companyInfo">
                    <span>{{ section.settings.contact_page_companyinfo }}</span>
                </div>  
                {% endif %}

                {% if section.settings.contact_page_phone != '' %}
                  <div class="contactPage__contacts">
                      <a class="contactPage__contact contactPage__contact--phone" href="tel:{{ section.settings.contact_page_phone }}">{{ section.settings.contact_page_phone }}</a>
                      <a class="contactPage__contact contactPage__contact--email" href="mailto:{{ section.settings.contact_page_email }}">{{ section.settings.contact_page_email }}</a>
                  </div>
                  {% endif %}
                
                {% if section.settings.contact_page_bankid != '' %}
                <div class="contactPage__companyInfo">
                    <span>{{ section.settings.contact_page_bankid }}</span>
                </div>
                {% endif %}
            </div>

            <div class="contactPage__col contactPage__col--map">
                <iframe class="contactPage__map" src="https://maps.google.com/maps?q=Hole%C4%8Dkova%20368/4%20Karlovy%20Vary&amp;t=&amp;z=15&amp;ie=UTF8&amp;iwloc=&amp;output=embed" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
    </div>
</section>

{% schema %}
  {
    "name": "Contact info",
    "settings": [
      {
        "type": "header",
        "content": "Section Title"
      },
      {
        "type": "text",
        "id": "contact_page_title",
        "label": "Page title",
        "default": "Kontakty"
      },
      {
        "type": "text",
        "id": "contact_page_companyname",
        "label": "Company name",
        "default": "Název společnosti"
      },
      {
        "type": "textarea",
        "id": "contact_page_companyinfo",
        "label": "Údaje o společnosti"
      },
      {
        "type": "textarea",
        "id": "contact_page_bankid",
        "label": "Bankovní informace"
      },
      {
        "type": "text",
        "id": "contact_page_phone",
        "label": "Telefonní číslo",
        "default": "123456789"
      },
      {
        "type": "text",
        "id": "contact_page_email",
        "label": "E-mail",
        "default": "email@email.cz"
      }
    ],
    "presets":[
      {
        "name": "Contact informations",
        "category": "Contact header"
      }
    ]
      
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}