<!-- header-area start -->
<div class="header-transparent">
  <div class="header-kaj">
    <div class="header-area">
      <div class="header-main-area">
        <div class="container-fluid header-col">
          <div class="row">
            <div class="col">
              <div class="header-main">
                <ul class="shop-element mobile-menu-icon">
                  <li class="side-wrap toggler-wrap">
                    <button name="navbar-toggler" class="navbar-toggler" type="button">
                      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg>
                    </button>
                  </li>
                  </ul>
                <div class="header-element logo">
                  <a href="{{ shop.url }}">
                  <svg viewBox="0 0 124 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="360design_logo" fill="#232323" fill-rule="nonzero">
                            <g id="Group" transform="translate(66.393621, 0.000000)">
                                <path d="M28.8063788,6.6 C29.0063788,5.2 29.4063788,3.8 29.9063788,2.5 C30.2063788,1.8 28.4063788,0.7 28.1063788,1.5 C27.6063788,2.8 27.2063788,4.2 27.0063788,5.6 C26.8063788,6.4 28.6063788,7.5 28.8063788,6.6 Z" id="Path"></path>
                                <path d="M12.9063788,1.1 C12.9063788,0.6 12.2063788,0.1 11.7063788,0 C11.6063788,0 11.6063788,0 11.5063788,0 L11.5063788,0 C11.4063788,0 11.2063788,0.1 11.2063788,0.2 C11.2063788,0.2 11.2063788,0.3 11.2063788,0.3 C9.60637876,5 8.40637876,7.7 6.00637876,12 C5.90637876,12.1 5.80637876,12.3 5.70637876,12.5 C4.70637876,11.8 3.30637876,11.9 2.30637876,12.9 C0.906378764,14.3 0.206378764,16.4 0.00637876404,18.3 C-0.093621236,18.9 1.00637876,19.8 1.60637876,19.5 C3.80637876,18.3 5.40637876,16.6 6.80637876,14.7 C6.50637876,16.1 6.10637876,17.5 5.90637876,19 C5.80637876,19.8 7.50637876,20.8 7.70637876,20 C8.80637876,12.8 10.6063788,8.1 12.9063788,1.3 C12.9063788,1.2 12.9063788,1.2 12.9063788,1.1 Z M2.20637876,16.6 C2.30637876,16.3 2.50637876,16 2.60637876,15.7 C2.90637876,15.2 3.20637876,14.7 3.60637876,14.3 C3.80637876,14 4.10637876,13.7 4.40637876,13.6 C4.50637876,13.6 4.60637876,13.5 4.70637876,13.5 C4.70637876,13.5 4.80637876,13.5 4.80637876,13.5 C4.10637876,14.7 3.30637876,15.7 2.20637876,16.6 Z" id="Shape"></path>
                                <path d="M55.6063788,5.9 C53.6063788,7.2 51.4063788,8.6 49.3063788,10 C49.6063788,9 50.0063788,8 50.4063788,7.1 C50.7063788,6.4 49.5063788,5.4 48.8063788,5.8 C47.2063788,6.6 45.8063788,7.5 44.5063788,8.7 C44.5063788,8.7 44.5063788,8.6 44.6063788,8.6 C44.9063788,7.9 43.1063788,6.8 42.8063788,7.6 C42.8063788,7.6 42.8063788,7.6 42.8063788,7.6 C41.3063788,8.5 39.9063788,9.4 38.2063788,10.7 C38.3063788,10.4 38.3063788,10 38.4063788,9.7 C38.5063788,9 37.4063788,8.2 36.8063788,8.5 C36.7063788,8.5 36.7063788,8.6 36.6063788,8.6 C35.5063788,7.4 33.8063788,7.4 32.7063788,8.5 C32.3063788,8.8 31.9063788,9.3 31.6063788,9.8 C30.2063788,11.2 27.7063788,13 26.6063788,13.4 C26.6063788,13.3 26.7063788,13.1 26.7063788,13 C26.9063788,11.9 27.3063788,11 27.7063788,10 C28.0063788,9.3 26.3063788,8.2 25.9063788,9 C25.7063788,9.4 25.5063788,9.9 25.3063788,10.4 C24.6063788,10.8 23.5063788,11.3 22.4063788,12 C22.2063788,11.9 22.0063788,11.7 21.9063788,11.6 C21.5063788,11.2 21.0063788,10.1 22.0063788,10 C22.5063788,10 22.4063788,9.4 22.2063788,9.1 C21.9063788,8.7 21.4063788,8.4 20.9063788,8.4 C19.3063788,8.5 19.3063788,10.2 20.0063788,11.2 C18.3063788,12.9 14.2063788,15.8 12.3063788,16.2 C12.3063788,16 12.4063788,15.7 12.4063788,15.5 C12.4063788,15.5 12.4063788,15.5 12.4063788,15.5 C13.5063788,14.8 17.4063788,12.6 15.4063788,11 C14.0063788,9.9 12.5063788,11.3 11.7063788,12.4 C10.8063788,13.7 9.70637876,16.1 11.0063788,17.5 C11.9063788,18.4 12.9063788,18.1 13.9063788,17.6 C16.5063788,16.2 18.7063788,14.1 20.9063788,12.2 C21.1063788,12.4 21.3063788,12.5 21.5063788,12.7 C20.0063788,14.4 19.0063788,16.3 20.9063788,17.5 C22.7063788,18.6 23.9063788,16.4 23.9063788,14.9 C23.9063788,14.4 23.8063788,14 23.6063788,13.5 C23.9063788,13.2 24.3063788,12.9 24.7063788,12.6 C24.7063788,12.9 24.7063788,13.1 24.7063788,13.4 C24.9063788,14.6 26.2063788,15.6 27.4063788,15.2 C28.5063788,14.8 29.4063788,13.9 30.2063788,13.2 C30.3063788,13.1 30.4063788,13 30.5063788,13 C30.4063788,13.3 30.4063788,13.6 30.4063788,13.9 C30.3063788,14.5 31.4063788,15.5 32.0063788,15.1 C33.7063788,14.2 34.8063788,12.5 36.2063788,11.2 C36.1063788,11.9 35.9063788,12.6 35.8063788,13.3 C35.1063788,14.2 34.5063788,14.6 33.9063788,15.6 C32.2063788,18.6 31.8063788,19 33.7063788,22.3 C33.9063788,22.7 35.2063788,23.8 35.4063788,22.9 C36.7063788,18.8 36.7063788,18.7 37.5063788,14.4 C38.8063788,12.8 40.2063788,11.4 41.9063788,10.2 C41.7063788,10.9 41.6063788,11.7 41.5063788,12.4 C41.4063788,13 42.8063788,14.2 43.2063788,13.5 C44.3063788,11.7 45.7063788,10.2 47.4063788,8.9 C47.2063788,9.6 47.0063788,10.2 47.0063788,10.9 C47.0063788,12 48.2063788,12.9 49.2063788,12.5 C50.3063788,12.1 51.2063788,11.1 52.1063788,10.4 C53.5063788,9.2 54.9063788,8.1 56.4063788,7.1 C57.2063788,6.5 56.3063788,5.5 55.6063788,5.9 Z M33.1063788,11.4 C33.1063788,11.4 33.1063788,11.3 33.2063788,11.3 C33.5063788,10.8 33.8063788,10.3 34.2063788,9.9 C34.4063788,9.6 34.7063788,9.3 35.0063788,9.2 C35.1063788,9.2 35.2063788,9.1 35.3063788,9.1 C35.4063788,9.1 35.4063788,9.1 35.5063788,9.1 C34.6063788,9.8 33.9063788,10.6 33.1063788,11.4 Z M34.8063788,17.9 C34.8063788,17.2 35.0063788,16.8 35.2063788,16.3 C35.1063788,16.9 34.9063788,17.4 34.8063788,17.9 Z" id="Shape"></path>
                            </g>
                            <g id="Group" transform="translate(0.000000, 0.200000)">
                                <path d="M12.1,23.1 C12.4,23.1 12.6,23 12.9,22.9 L8.6,22.9 C9.7,23.2 10.8,23.3 12.1,23.1 Z" id="Path"></path>
                                <path d="M65,5.3 C65.1,5.7 65.1,6.2 65.2,6.6 L65.2,-3.33066907e-16 L63.2,-3.33066907e-16 C64,1.5 64.7,3.3 65,5.3 L65,5.3 Z" id="Path"></path>
                                <path d="M8.6,22.9 L12.9,22.9 C14.5,22.3 15.5,21 15.2,19.4 L15.2,19.3 C14.8,17.2 12.8,16.4 9.6,16.9 L7.3,17.3 L5.8,13.9 L10.8,6.7 L0.8,8.5 L0,4.2 L0,22.9 L4.1,22.9 L5.4,21.1 C6.5,21.9 7.5,22.5 8.6,22.9 Z" id="Path"></path>
                                <path d="M65.2,10 C64.6,15.4 61.3,19.6 55.9,20.6 C49.1,21.8 43.6,16.8 42.3,9.4 L42.3,9.3 C41.7,5.9 42.1,2.6 43.5,0 L38.1,0 L36.2,4.1 C34.3,3.1 32.8,2.6 30.6,3 C26.8,3.7 26.3,7.6 26.5,9.8 C27.7,8.7 29.2,7.6 31.5,7.2 C36.6,6.4 41,8.5 42,13.8 L42,13.9 C42.7,17.6 41,20.9 38,22.8 L65.3,22.8 C65.2,22.9 65.2,10 65.2,10 Z" id="Path"></path>
                                <path d="M21.1,13.9 L21.1,13.9 C20.1,8 21.2,2.9 24.8,0 L0,0 L0,0.1 L0,3.5 L17.2,0.5 L17.9,4.7 L12.5,12 C16.1,12 19.8,13.2 20.6,18 L20.6,18.1 C20.9,19.8 20.7,21.4 20.1,22.8 L25.5,22.8 C23.6,21.3 22,18.8 21.1,13.9 Z" id="Path"></path>
                            </g>
                        </g>
                    </g>
                  </svg>
                  </a>
                </div>
                <div class="header-element megamenu-content">
                  <div class="main-menu-area">
                    <nav class="main-navigation navbar-expand-xl">
                      <div class="box-header">
                        <button name="close-box" class="close-box" type="button"><i class="ti-close"></i></button>
                      </div>
                      <div class="navbar-collapse" id="navbarContent">
                        <div class="megamenu-content">
                          <a href="#main-collapse" class="browse-cat" data-bs-toggle="collapse" aria-expanded="false">
                            <i class="ti-menu"></i>
                            <span>{{ section.settings.header_main_menu_title }}</span>
                          </a>
                          <div class="mainwrap collapse" id="main-collapse">
                            <ul class="main-menu">
                              {% assign header_main_menu = section.settings.header_main_menu %}
                              {% for link in linklists[header_main_menu].links %}
                              {% if linklists[header_main_menu].links != '' %}
                              {% include 'main-menu' %}
                              {% endif %}
                              {% endfor %}
                            </ul>
                          </div>
                        </div>
                      </div>
                    </nav>
                  </div>
                </div>
                <div class="header-element right-block-box">
                  <ul class="shop-element">
                    <li class="side-wrap search-wrap">
                      {%- include 'search-bar' -%}
                    </li>
                    <li class="side-wrap search-wrap">
                      {%- include 'store-account-mobile' -%}
                    </li>
                    <li class="side-wrap search-wrap">
                        {% include 'mini-cart' %}
                    </li>
                    {% if settings.multi_currency_enable and localization.available_countries.size > 1 %}
                    <li class="side-wrap currency-wrapper">
                      
                      <div class="menu-currency">
                          {%- include "shop-currency" -%}
                      </div>
                    </li>
                    {%- endif -%}
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="header-bottom-area">
      <div class="container-fluid">
        <div class="row">
          <div class="col">
            <div class="main-menu-area">
              <nav class="main-navigation navbar-expand-xl">
                <div class="box-header">
                  <button name="close-box" class="close-box" type="button"><i class="ti-close"></i></button>
                </div>
                <div class="navbar-collapse" id="navbarContent">
              {% comment %}<div class="vegamenu-content">
                <a href="#vega-collapse" class="browse-cat" data-bs-toggle="collapse" aria-expanded="true">
                  <i class="ti-menu"></i>
                  <span>{{ section.settings.header_vega_menu_title }}</span>
                </a>
                <div class="vegawrap collapse" id="vega-collapse">
                  <ul class="vega-menu">
                    {% assign header_vega_menu = section.settings.header_vega_menu %}
                    {% for link in linklists[header_vega_menu].links %}
                      {% if linklists[header_vega_menu].links != '' %}
                        {% include 'vega-menu' %}
                      {% endif %}
                    {% endfor %}
                  </ul>
                </div>
              </div>{% endcomment %}
              <div class="megamenu-content">
                <a href="#main-collapse" class="browse-cat" data-bs-toggle="collapse" aria-expanded="false">
                  <i class="ti-menu"></i>
                  <span>{{ section.settings.header_main_menu_title }}</span>
                </a>
                <div class="mainwrap collapse show" id="main-collapse">
                  <ul class="main-menu">
                    {% assign header_main_menu = section.settings.header_main_menu %}
                    {% for link in linklists[header_main_menu].links %}
                    {% if linklists[header_main_menu].links != '' %}
                    {% include 'main-menu' %}
                    {% endif %}
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
{% include 'search-modal' %}
<!-- header-area end -->
<script>
  $(window).scroll(function() {
    var sticky = $(''),
    scroll = $(window).scrollTop();
    if (scroll >= 150) {
      sticky.addClass('is-sticky');
    }
    else {
      sticky.removeClass('is-sticky');
    }
  });
</script>
{% schema %}
{
  "name": "Header",
  "settings": [
  {
    "type": "checkbox",
    "id": "header_transparent",
    "label": "Header Transparent",
    "default": true
  },
  {
    "type": "header",
    "content": "Logo Notice"
  },
  {
    "type": "paragraph",
    "content": "For logo go to 'Theme Settings' click on 'Company Logo' & set both Header-Footer Logo"
  },
  {
    "type": "header",
    "content": "Section Background Color"
  },
  {
    "type": "header",
    "content": "Main Menu"
  },
  {
    "type": "link_list",
    "id": "header_main_menu",
    "label": "Select Main Menu"
  },
  {
    "type" : "paragraph",
    "content" : "Mainmenu title for responsive"
  },
  {
    "type": "text",
    "id": "header_main_menu_title",
    "label": "Title",
    "default": "Menu"
  },
  {
    "type": "header",
    "content": "Vega Menu"
  },
  {
    "type" : "paragraph",
    "content" : "For vega menu"
  },
  {
    "type": "link_list",
    "id": "header_vega_menu",
    "label": "Select Vega Menu"
  },  
  {
    "type" : "paragraph",
    "content" : "Vegamenu title"
  },
  {
    "type": "text",
    "id": "header_vega_menu_title",
    "label": "Title",
    "default": "Shop By Categories"
  }, {
    "type": "product",
    "id": "product_1",
    "label": "Product 1 in megamenu"
  }, {
    "type": "product",
    "id": "product_2",
    "label": "Product 2 in megamenu"
  }, {
    "type": "product",
    "id": "product_3",
    "label": "Product 3 in megamenu"
  }
  ]
}
{% endschema %}
<script>
  {%- if template == 'index' or template == 'product' or template == 'collection' -%}
  $(window).scroll(function() {
    var sticky = $('.header-area'),
    scroll = $(window).scrollTop();
    if (scroll >= 150) {
      sticky.addClass('is-sticky');
    }
    else {
      sticky.removeClass('is-sticky');
    }
  });
  {%- endif -%}
</script>
<style>
{%- if section.settings.header_transparent -%}
.header-transparent{
  {%- if template == 'index' -%}
  position: absolute;
  width: 100%;
  z-index: 30;
  background-color: transparent;
  {%- else -%}
  background-color: #fff;
  {%- endif -%}
}
{%- if template != 'index' -%}
.header-area{
  border-top: 1px solid #e2e2e2;
}
{%- endif -%}
{%- endif -%}
.header-col{
  padding-right: 45px;
  padding-left: 45px;
}
@media (max-width: 1599px) {
  .header-col{
    padding-right: 30px;
    padding-left: 30px;
  }
}
@media (max-width: 1199px) {
  .header-transparent{
    position: unset;
    background-color: #fff;
  }
}
@media (max-width: 767px) {
  .header-col{
    padding-right: 15px;
    padding-left: 15px;
  }
}
/* sticky menu css */
.is-sticky{
  position: fixed;
  top: 0;
  {%- if settings.enable_rtl -%}
  right: 0;
  {%- else -%}
  left: 0;
  {%- endif -%}
  width: 100%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
  -ms-box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
  background-color: #fff;
  animation: smoothScroll 1s forwards;
  z-index: 30;
}
@keyframes smoothScroll {
  0% {
    transform: translateY(-150px);
  }
  100% {
    transform: translateY(0px);
  }
}

/*curerncy*/
.menu-currency{
  position: relative;
}
.menu-currency button{
  color: {{ settings.color_secondary }};
  position: relative;
  font-size: 14px;
  display: flex;
  align-items: center;
}
.menu-currency ul{
  position: absolute;
  right: 0;
  width: max-content;
  top: calc(100% - -15px);
  background-color: #fff;
  z-index: 3;
  box-shadow: 0 0 35px rgb(0 0 0 / 10%);
  border-radius: 4px;
}
.menu-currency ul li{
  padding: 0 15px;
  margin-top: 10px;
}
.menu-currency ul li:first-child{
  margin-top: 15px;
}
.menu-currency ul li:last-child{
  margin-bottom: 15px;
}
.menu-currency ul li.active a{
  color: {{ settings.color_primary }};
}

.megamenu-product{
  height: auto;
  width: 300px;
}
.megamenu-title{
    color: white;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 100%;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    text-transform: none;
    z-index: 3;
  }
  .megamenu-buy{
    position: relative;
    height: 100%;
  }
  .megamenu-buy .megamenu-overlay {
    position: absolute;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(60,60,60,1) 27%, rgba(255,255,255,1) 100%);
    left: 0;
    right: 0;
    bottom: 0;
    height: 20%;
    opacity: 0.7;
}
.mobile-menu-icon{
  margin-right:15px;
}
@media(min-width:1200px){
  .mobile-menu-icon{
    display:none;
  }
}
</style>