{% if section.settings.about_banner_img %}
<section class="about-modern-left wow animate__fadeIn">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-12 col-responsive-img-second">
              <div class="about-banner-img-cont">
                  <div class="single-banner banner-image">
                    <img src="{% if section.settings.about_banner_img %}{{ section.settings.about_banner_img | img_url: 'master' }}{% else %}https://dummyimage.com/505x553/f7f7f7/999999{% endif %}">
                  </div>
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-12">
                <div class="about-content">
                  <div class="abt-banner-desc">
                            {% if section.settings.about_title != '' %}
                            <h2>{{ section.settings.about_title }}</h2>
                            {% endif %}

                            {% if section.settings.about_des1 != '' %}
                            <p>{{ section.settings.about_des1 }}</p>
                            {% endif %}
                        </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
      <div class="row">
         <hr class="line">
      </div>
  </div>
</section>
{% endif %}
{% schema %}
{
    "name": "Image with text 2",
    "settings": [
    {
    "type": "header",
    "content": "Section Padding"
  },
  {
    "type" : "paragraph",
    "content" : "Desktop / Laptop"
  },
  {
    "type": "range",
    "id": "section_padding_top",
    "label": "Section Padding Top",
    "min": 0,
    "max": 100,
    "step": 5,
    "unit": "px",
    "default": 100
  },
  {
    "type": "range",
    "id": "section_padding_bottom",
    "label": "Section Padding bottom",
    "min": 0,
    "max": 100,
    "step": 5,
    "unit": "px",
    "default": 100
  },
  {
    "type" : "paragraph",
    "content" : "Ipad pro / Ipad"
  },
  {
    "type": "range",
    "id": "section_padding_top_lg",
    "label": "Section Padding Top",
    "min": 0,
    "max": 100,
    "step": 5,
    "unit": "px",
    "default": 60
  },
  {
    "type": "range",
    "id": "section_padding_bottom_lg",
    "label": "Section Padding bottom",
    "min": 0,
    "max": 100,
    "step": 5,
    "unit": "px",
    "default": 60
  },
  {
    "type" : "paragraph",
    "content" : "Mobile"
  },
  {
    "type": "range",
    "id": "section_padding_top_xs",
    "label": "Section Padding Top",
    "min": 0,
    "max": 100,
    "step": 5,
    "unit": "px",
    "default": 40
  },
  {
    "type": "range",
    "id": "section_padding_bottom_xs",
    "label": "Section Padding bottom",
    "min": 0,
    "max": 100,
    "step": 5,
    "unit": "px",
    "default": 40
  },
    {
        "type": "text",
        "id": "banner_title",
        "label": "Banner Image Title",
        "default": "185+"
    },
    {
        "type": "text",
        "id": "banner_sub_title",
        "label": "Banner Image Sub Title",
        "default": "Worldwide store"
    },
    {
        "type": "image_picker",
        "id": "about_banner_img",
        "label": "Image",
        "info": "Recommended Size: 505 x 553px"
    },
    {
        "type": "text",
        "id": "about_title",
        "label": "Title",
        "default": "Our company"
    },
    {
        "type": "richtext",
        "id": "about_des1",
        "label": "Description Text"
    }
    ],
    "presets":[
    {
        "name": "Image with text 2",
        "category": "About Modern"
    }
    ]
}
{% endschema %}
<style>
     .about-modern-left .row{
        align-items: center;
    }
    .about-modern-left{
      padding-top: {{ section.settings.section_padding_top }}px;
    }
    @media (max-width: 1199px){
      .about-modern-left{
        padding-top: {{ section.settings.section_padding_top_ipad }}px;
      }
    }
    @media (max-width: 767px){
      .about-modern-left{
        padding-top: {{ section.settings.section_padding_top_xs }}px;
      }
    }
    .about-modern-left .about-banner-img-cont {
      position: relative;
    }
    .about-modern-left .about-banner-img-cont .single-banner{
      text-align: right;
      margin-bottom: 60px;
      width: 86%;
      margin-left: auto;
    }
    .about-modern-left .about-banner-img-cont .single-banner{
      border-radius: 5px;
    }

    .about-modern-left .about-content{
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: center;
        height: 100%
    }
    .about-modern-left .about-content .abt-banner-desc {
      width: 80%;
      margin-left: auto;
    }
    .about-modern-left .about-content .abt-banner-desc h2{
      font-size: 35px;
    }
    .about-modern-left .about-content .abt-banner-desc p{
      margin-top: 30px;
      font-size: 14px;
      line-height: normal;
      font-weight: 500;
    }
    @media (max-width: 1199px) {
    
      .about-modern-left .about-content .abt-banner-desc{
        width: 90%;
        margin-left: auto;
      }
      .about-modern-left .about-content .abt-banner-desc h2{
        font-size: 26px;
      }
      .about-modern-left .about-content .abt-banner-desc p{
        margin-top: 15px;
        font-size: 16px;
      }
    }
    @media (max-width: 991px) {
      .about-modern-left .about-banner-img-cont .single-banner{
        margin-bottom: 30px;
        width: 90%;
      }
      .about-modern-left .about-content .abt-banner-desc{
        width: 100%;
      }
      .about-modern-left .about-content .abt-banner-desc p{
        font-size: 14px;
        font-weight: 400;
      }
    }
    @media (max-width: 767px) {
      .about-modern-section1 .row .col-responsive-img-second {
        order: 1;
      }
      .about-modern-left .about-banner-img-cont .single-banner{
        margin-bottom: 0px;
        width: 100%;
      }
      .about-modern-left .about-content .abt-banner-desc{
        margin-top: 30px;
      }
      .about-modern-left .about-content .abt-banner-desc h2{
        font-size: 20px;
      }
    }
    hr.line{
      border: 1px solid rgba(0,0,0,.2);
      margin-bottom:100px;
  }
 @media(max-width: 767px){
    hr.line{
      margin-bottom:50px;
    }
 }
 @media(max-width: 500px){
    hr.line{
      margin-bottom:30px;
    }
 }
</style>