<section class="about-team">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                <div class="our-team">
                    <div class="section-capture">
                        <div class="main-title">
                            {% if section.settings.our_team_title != '' %}
                            <h2>{{ section.settings.our_team_title }}</h2>
                            {% endif %}
                        </div>
                    </div>
                    <ul class="team-wrap">
                        {% for block in section.blocks %}
                        <li class="team-content wow animate__fadeIn">
                            <a href="javascript:void(0)" class="banner-hover">
                                <img class="img-fluid" src="{% if block.settings.member_img %}{{ block.settings.member_img | img_url: 'master' }}{% else %}https://dummyimage.com/449x566/f7f7f7/999999{% endif %}">
                            </a>
                            <div class="team-info">
                                <h6>{{ block.settings.member_name }}</h6>
                                <span>{{ block.settings.member_position }}</span>
                                {% if block.settings.member_phone != '' %}
                                <a class="team-info__link" href="tel:{{ block.settings.member_phone }}">{{ block.settings.member_phone }}</a>
                                {% endif %}
                                {% if block.settings.member_mail != '' %}
                                <a class="team-info__link" href="mailto:{{ block.settings.member_mail }}">{{ block.settings.member_mail }}</a>
                                {% endif %}
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
{% schema %}
{
    "name": "Our Team",
    "settings": [
        {
    "type": "header",
    "content": "Section Padding"
  },
  {
    "type" : "paragraph",
    "content" : "Desktop / Laptop"
  },
  {
    "type": "range",
    "id": "section_padding_top",
    "label": "Section Padding Top",
    "min": 0,
    "max": 100,
    "step": 5,
    "unit": "px",
    "default": 100
  },
  {
    "type": "range",
    "id": "section_padding_bottom",
    "label": "Section Padding bottom",
    "min": 0,
    "max": 100,
    "step": 5,
    "unit": "px",
    "default": 100
  },
  {
    "type" : "paragraph",
    "content" : "Ipad pro / Ipad"
  },
  {
    "type": "range",
    "id": "section_padding_top_lg",
    "label": "Section Padding Top",
    "min": 0,
    "max": 100,
    "step": 5,
    "unit": "px",
    "default": 60
  },
  {
    "type": "range",
    "id": "section_padding_bottom_lg",
    "label": "Section Padding bottom",
    "min": 0,
    "max": 100,
    "step": 5,
    "unit": "px",
    "default": 60
  },
  {
    "type" : "paragraph",
    "content" : "Mobile"
  },
  {
    "type": "range",
    "id": "section_padding_top_xs",
    "label": "Section Padding Top",
    "min": 0,
    "max": 100,
    "step": 5,
    "unit": "px",
    "default": 40
  },
  {
    "type": "range",
    "id": "section_padding_bottom_xs",
    "label": "Section Padding bottom",
    "min": 0,
    "max": 100,
    "step": 5,
    "unit": "px",
    "default": 40
  },
        {
            "type": "header",
            "content": "Content"
        },
        {
            "type": "text",
            "id": "our_team_title",
            "label": "Title",
            "default": "Who we are"
        }
    ],
    "blocks":[
        {
            "type": "our-vision",
            "name": "Our Vision",
            "limit": 3,
            "settings": [
            {
                "type": "image_picker",
                "id": "member_img",
                "label": "Image",
                "info": "Recommended Size: 459px x 566px"
            },
            {
                "type": "text",
                "id": "member_name",
                "label": "Team Member Name",
                "default": "Nina Theresa"
            },
            {
                "type": "text",
                "id": "member_position",
                "label": "Team Member Position",
                "default": "Managing Director"
            },
            {
                "type": "text",
                "id": "member_phone",
                "label": "About Team Member Phone"
            },
            {
                "type": "text",
                "id": "member_mail",
                "label": "About Team Member Mail"
            }
            ]
        }
    ],
    "presets":[
        {
            "name": "Our Team",
            "category": "About us"
        }
    ]
}
{% endschema %}
<style>
    .about-team{
        padding-top: {{ section.settings.section_padding_top }}px;
        padding-bottom: {{ section.settings.section_padding_bottom }}px;
        border-top: 1px solid #e2e2e2;
    }
    @media (max-width: 1199px){
        .about-team{
            padding-top: {{ section.settings.section_padding_top_ipad }}px;
            padding-bottom: {{ section.settings.section_padding_bottom_ipad }}px;
        }
    }
    @media (max-width: 767px){
        .about-team{
            padding-top: {{ section.settings.section_padding_top_xs }}px;
            padding-bottom: {{ section.settings.section_padding_bottom_xs }}px;
        }
    }

    /* section title */
    .about-team .main-title {
        text-align: center; 
    }
    .about-team .main-title h2{
        font-size: 40px;
        font-weight: 600;
        line-height: 1;
        margin-bottom: 50px;
    }
    @media(max-width: 1199px){
        .about-team .main-title h2{
            font-size: 26px;
        }
    }
     @media(max-width: 767px){
        .about-team .main-title h2{
            font-size: 20px;
        }
    }
    /* teamcontent */
    .our-team ul.team-wrap{
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        {%- if settings.enable_rtl -%}
        margin-right: -30px;
        {%- else -%}
        margin-left: -30px;
        {%- endif -%}
    }
    .our-team ul.team-wrap li.team-content{
        width: calc(33.33% - 30px);
        {%- if settings.enable_rtl -%}
        margin-right: 30px;
        {%- else -%}
        margin-left: 30px;
        {%- endif -%}
    }
    .our-team ul.team-wrap li.team-content a{
        border-radius: 5px;
    }
    .our-team ul.team-wrap li.team-content .team-info{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        position: relative;
        margin-top: 60px;
    }
    .our-team ul.team-wrap li.team-content .team-info h6{
        font-size: 18px;
        line-height: 1;
        text-transform: uppercase;
    }
    .our-team ul.team-wrap li.team-content .team-info span{
        display: block;
        margin-top: 5px;
        font-size: 18px;
    }
    .our-team ul.team-wrap li.team-content .team-info p{
        margin-top: 16px;
    }

    .team-info__link {
        font-size: 16px;
        line-height: 1.4;
    }

    .team-info__link:hover {
        text-decoration: underline;
    }

    @media (max-width: 991px) {
        .our-team ul.team-wrap li.team-content .team-info span,
        .our-team ul.team-wrap li.team-content .team-info h6{
            font-size: 16px;
        }
        .our-team ul.team-wrap li.team-content .team-info{
            margin-top: 30px;
        }
    }
    @media (max-width: 767px) {
        .our-team ul.team-wrap{
            {%- if settings.enable_rtl -%}
            margin-right: -15px;
            {%- else -%}
            margin-left: -15px;
            {%- endif -%}
            margin-top: -30px;
        }
        .our-team ul.team-wrap li.team-content{
            width: calc(100% - 15px);
            margin-top: 30px;
            {%- if settings.enable_rtl -%}
            margin-right: 15px;
            {%- else -%}
            margin-left: 15px;
            {%- endif -%}
        }
    }
</style>