<section class="privacy-policy2">
  <div class="section-content">
    <div class="container">
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-6 col-12">
          <div class="privacy-img wow animate__fadeIn">
            <img src="{% if section.settings.privacy_img %}{{ section.settings.privacy_img | img_url: 'master' }}{% else %}https://dummyimage.com/583x546/f7f7f7/999999{% endif %}" alt="{{ section.settings.privacy_img.alt }}">
            <div class="img-text-content wow animate__fadeInUp">
              <h3>{{ section.settings.image_title }}</h3>
            </div>
          </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-12">
          <div class="text-wrap">
            <div class="text-wrapper wow animate__fadeInRight">
              <h6>{{ section.settings.content_title1 }}</h6>
              <p>{{ section.settings.content_description1 }}</p>
              <a href="{{ section.settings.content_button_url1 }}">{{ section.settings.content_button1 }}</a>
            </div>
            <div class="text-wrapper wow animate__fadeInRight">
              <h6>{{ section.settings.content_title2 }}</h6>
              <p>{{ section.settings.content_description2 }}</p>
              <a href="{{ section.settings.content_button_url2 }}">{{ section.settings.content_button2 }}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% schema %}
{
  "name": "Privacy Policy section 2",
  "settings": [
    {
    "type": "header",
    "content": "Section Padding"
  },
  {
    "type": "range",
    "id": "section_padding_top",
    "label": "Section Padding Top",
    "min": 0,
    "max": 100,
    "step": 5,
    "unit": "px",
    "default": 100
  },
  {
    "type": "range",
    "id": "section_padding_bottom",
    "label": "Section Padding Bottom",
    "min": 0,
    "max": 100,
    "step": 5,
    "unit": "px",
    "default": 100
  },
  {
    "type": "paragraph",
    "content": "Ipad pro / Ipad"
  },
  {
    "type": "range",
    "id": "section_padding_top_lg",
    "label": "Section Padding Top",
    "min": 0,
    "max": 100,
    "step": 5,
    "unit": "px",
    "default": 60
  },
  {
    "type": "range",
    "id": "section_padding_bottom_lg",
    "label": "Section Padding Bottom",
    "min": 0,
    "max": 100,
    "step": 5,
    "unit": "px",
    "default": 60
  },
  {
    "type": "paragraph",
    "content": "Mobile"
  },
  {
    "type": "range",
    "id": "section_padding_top_xs",
    "label": "Section Padding Top",
    "min": 0,
    "max": 100,
    "step": 5,
    "unit": "px",
    "default": 40
  },
  {
    "type": "range",
    "id": "section_padding_bottom_xs",
    "label": "Section Padding Bottom",
    "min": 0,
    "max": 100,
    "step": 5,
    "unit": "px",
    "default": 40
  },
  {
    "type": "header",
    "content": "Background Image"
  },
  {
      "type": "image_picker",
      "id": "privacy_img",
      "label": "Background Image",
      "info": "Recommended Size: 583px x 546px"
  },
  {
    "type": "text",
    "id": "image_title",
    "label": "Images Title",
    "default": "We followed the law, follow our policies, we self-report"
  },
  {
    "type": "text",
    "id": "content_title1",
    "label": "Content Title",
    "default": "Providing your personal data to others"
  },
  {
    "type": "text",
    "id": "content_description1",
    "label": "Content Description",
    "default": "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s"
  },
  {
      "type": "url",
      "id": "content_button_url1",
      "label": "Button URL"
  },
  {
      "type": "text",
      "id": "content_button1",
      "label": "Button Text",
      "default": "Read more"
  },
  {
    "type": "text",
    "id": "content_title2",
    "label": "Content Title",
    "default": "Providing your personal data to others"
  },
  {
    "type": "text",
    "id": "content_description2",
    "label": "Content Description",
    "default": "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s"
  },
  {
      "type": "url",
      "id": "content_button_url2",
      "label": "Button URL"
  },
  {
      "type": "text",
      "id": "content_button2",
      "label": "Button Text",
      "default": "Read more"
  }
  ]
}
{% endschema %}
<style type="text/css">
  .privacy-policy2 {
    padding-top: {{ section.settings.section_padding_top }}px;
    padding-bottom: {{ section.settings.section_padding_bottom }}px;
  }
  @media(max-width: 1199px){
    .privacy-policy2 {
      padding-top: {{ section.settings.section_padding_top_lg }}px;
      padding-bottom: {{ section.settings.section_padding_bottom_lg }}px;
    }
  }
  @media(max-width: 767px){
    .privacy-policy2 {
      padding-top: {{ section.settings.section_padding_top_xs }}px;
      padding-bottom: {{ section.settings.section_padding_bottom_xs }}px;
    }
  }

  .privacy-policy2 .privacy-img {
    position: relative;
  }

  .privacy-policy2 .privacy-img .img-text-content{
    width: 75%;
    position: absolute;
    bottom: 40px;
    right: -40px;
    background-color: {{ settings.color_primary }};
    padding: 40px 50px;
  }
  .privacy-policy2 .privacy-img .img-text-content h3{
    color: #fff;
    font-size: 24px;
    font-weight: 400;
  }
  .privacy-policy2 .text-wrap {
    width: 80%;
    margin-left: auto;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .privacy-policy2 .text-wrapper:nth-child(1){
     animation-delay: 0.1s;
  }
  .privacy-policy2 .text-wrapper:nth-child(2){
    animation-delay: 0.2s;
  }
  .privacy-policy2 .text-wrapper{
    margin-top: 40px;
  }
  .privacy-policy2 .text-wrapper:first-child{
    margin-top: 0;
  }
  .privacy-policy2 .text-wrap h6{
    font-size: 18px;
    font-weight: 500;
    line-height: 1;
  }
  .privacy-policy2 .text-wrap p{
    font-size: 16px;
    margin-top: 20px;
    line-height: 30px;
  }
  .privacy-policy2 .text-wrap a{
    color: #999;
    margin-top: 15px;
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    border-bottom: 1px solid #999;
  }
  .privacy-policy2 .text-wrap a:hover{
    border-color: {{ settings.color_primary }};
    color: {{ settings.color_primary }};
  }
  @media(max-width: 1199px){
    .privacy-policy2 .privacy-img .img-text-content{
      width: 100%;
      position: unset;
      padding: 30px; 
    }
    .privacy-policy2 .privacy-img .img-text-content h3{
      font-size: 20px;
    }
    .privacy-policy2 .text-wrap{
      width: 100%;
    }
  }
  @media(max-width: 767px){
    .privacy-policy2 .text-wrap{
      padding-top: 30px;
    }
  }
</style>