
{%- include 'wcp_discount' with product -%}
            {%- include 'wcp_variant' with product.selected_or_first_available_variant -%}
{%- assign on_sale = false -%}
{%- if wcp_compare_at_price > wcp_price -%}
{%- assign on_sale = true -%}
{%- endif -%}
{%- assign sold_out = true -%}
{%- if product.available -%}
{%- assign sold_out = false -%}
{%- endif -%}
{%- assign current_variant = product.selected_or_first_available_variant -%}
{% assign page_handle = page.handle %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-lightbox/0.2.12/slick-lightbox.min.js" integrity="sha512-iSVaq9Huv1kxBDAOH7Il1rwIJD+uspMQC1r4Y73QquhbI2ia+PIXUoS5rBjWjYyD03S8t7gZmON+Dk6yPlWHXw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-lightbox/0.2.12/slick-lightbox.css" integrity="sha512-GPEZI1E6wle+Inl8CkTU3Ncgc9WefoWH4Jp8urbxZNbaISy0AhzIMXVzdK2GEf1+OVhA+MlcwPuNve3rL1F9yg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-lightbox/0.2.12/slick-lightbox.js" integrity="sha512-jGARnXmmqjqH0OuF7bFoLjZiVwFwoFvkgGqJpUf2TNjMnKjK1rrVCwmFoUGq564c2Auaf6ULAknrnUGKK1SnqQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{{ 'slick-theme.css' | asset_url | stylesheet_tag }}

<section class="product-details-page">
  <div class="container">
    <div class="row">
    <div class="product-breadcrumb">
        <ul class="breadcrumb-list">
          <li class="breadcrumb-item">
            <a href="/" title="{{ 'general.breadcrumbs.home_link_title' | t }}">{{ 'general.breadcrumbs.home' | t }}</a>
          </li>
          {% if template contains 'product' %}
          {% if collection %}
          {% if collection.handle %}
          {% capture url %}/collections/{{ collection.handle }}{% endcapture %}
          <li class="breadcrumb-item">
            {{ collection.title | link_to: url }}
          </li>
          {% endif %}
          {% endif %}
          <li class="breadcrumb-item">
            <span>{{ product.title | truncate: 30 }}</span>
          </li>
          {% endif %}
        </ul>
      </div>
      </div></div>
<div class="product-beige">
  <div class="container">
    <div class="row">
      <div class="title-wrap desktop-hide">
        <div class="product-title">
          <h6>{{ product.title }}</h6>
        </div>
      </div>
      <div class="product-infos desktop-hide product-sku-mobile">
        <div>
          <h6>{{ section.settings.product_vendor_title }}</h6>
          <span class="variant-sku">{{ product.vendor }}</span>
        </div>
        <div>
          <h6>{{ section.settings.product_sku_title }}</h6>
          <span class="variant-sku" id="variantsku2">{{ current_variant.sku }}</span>
        </div>
      </div>
      {% if section.settings.product_style_handle == 'style_1' %}
      <div class="col-xl-6 col-lg-6 col-md-12 col-12 product_details product_details_gallery">
        <div class="product_detail_img">
            {% for t in product.tags %}
            {% if t contains 'novinka' %}     
              <div class="product-detail_badge badge-text" style="color:#86BAF5">
                Novinka
            </div>
            {% endif %}
         {% endfor %}
         {% if on_sale %}
          <div class="product-detail_badge badge-text" style="color:#FD1342">
            Akce
          </div>
         {% endif %}
          <!-- product_big_images start -->
          <div class="product_img_top">
            <div class="slider-for" {% if settings.enable_rtl %}dir="rtl"{% endif %} id="slider-for">
              {%- assign featured_media = current_variant.featured_media | default: product.featured_media -%}
              {%- for media in product.media -%}
              {% include 'media2', media: media, featured_media: featured_media %}
              {%- endfor -%}
            </div>
          </div>
          <!-- product_big_images end -->
          <!-- Start Small images -->
          <div class="product_slider_img">
            <div class="product_more_img">
              <div class="slider-nav pro-detail-slider gallery-thumbs product-single__thumbnails-{{ section.id }}" id="pro-detail-slider" {% if settings.enable_rtl %}dir="rtl"{% endif %}>
                  {% for media in product.media %}
                  <div class="slick-slide" data-image-id="{{ media.id }}" data-image="{{ media.src | img_url: 'master' }}">
                    <a class="product-single__thumbnail" href="javascript:void(0)"
                       class="text-link product-single__thumbnail"             
                       {% if enable_image_zoom %}data-zoom="{{ media.preview_image | img_url: 'master' }}"{% endif %}>
                      <img class="product-single__thumbnail-image img-fluid" src="{{ media.preview_image | img_url: 'master' }}" alt="{{ thumbnailAlt }}">
                      {%- if media.media_type == 'video' or media.media_type =='external_video' -%}
                      <span class="icon-play">
                      <i class="ti-control-play"></i>
                      </span>
                      {%- endif -%}
                      {%- if media.media_type == 'model' -%}
                      <div class="product-single__thumbnail-badge">
                        <i class="ti-box"></i>
                      </div>
                      {%- endif -%}
                    </a>
                  </div>
                  {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
      {% if section.settings.product_style_handle == 'style_2' %}
      <div class="col-xl-6 col-lg-6 col-md-12 col-12 product_details product_details_gallery">
        <div class="product_detail_img">
          <!-- product_big_images start -->
          <div class="product_img_top">
            <div class="slider-for" {% if settings.enable_rtl %}dir="rtl"{% endif %}>
              {%- assign featured_media = current_variant.featured_media | default: product.featured_media -%}
              {%- for media in product.media -%}
              {% include 'media', media: media, featured_media: featured_media, height: height, enable_image_zoom: enable_image_zoom, image_zoom_size: product_image_zoom_size, image_scale: product_image_scale %}
              {%- endfor -%}
            </div>
          </div>
          <!-- product_big_images end -->
          <!-- Start Small images -->
          <div class="product_slider_img">
            <div class="product_more_img">
              <div class="slider-nav pro-detail-slider gallery-thumbs product-single__thumbnails-{{ section.id }}" id="pro-detail-slider" {% if settings.enable_rtl %}dir="rtl"{% endif %}>
                  {% for media in product.media %}
                  <div class="slick-slide" data-image-id="{{ media.id }}" data-image="{{ media.src | img_url: 'master' }}">
                    <a class="product-single__thumbnail" href="javascript:void(0)"
                       class="text-link product-single__thumbnail"             
                       {% if enable_image_zoom %}data-zoom="{{ media.preview_image | img_url: 'master' }}"{% endif %}>
                      <img class="product-single__thumbnail-image img-fluid" src="{{ media.preview_image | img_url: 'master' }}" alt="{{ thumbnailAlt }}">
                      {%- if media.media_type == 'video' or media.media_type =='external_video' -%}
                      <span class="icon-play">
                        <i class="ti-control-play"></i>
                      </span>
                      {%- endif -%}
                      {%- if media.media_type == 'model' -%}
                      <div class="product-single__thumbnail-badge">
                        <i class="ti-box"></i>
                      </div>
                      {%- endif -%}
                    </a>
                  </div>
                  {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
      {% if section.settings.product_style_handle == 'style_3' %}
      <div class="col-xl-6 col-lg-6 col-md-12 col-12 product_details product_details_gallery">
        <div class="product_detail_img">
          <!-- product_big_images start -->
          
          <!-- product_big_images end -->
          <!-- Start Small images -->
          <div class="product_slider_img">
            <div class="product_more_img">
              <div class="slider-nav pro-detail-slider gallery-thumbs product-single__thumbnails-{{ section.id }}" id="pro-detail-slider" {% if settings.enable_rtl %}dir="rtl"{% endif %}>
                  {% for media in product.media %}
                  <div class="slick-slide" data-image-id="{{ media.id }}" data-image="{{ media.src | img_url: 'master' }}">
                    <a class="product-single__thumbnail" href="javascript:void(0)"
                       class="text-link product-single__thumbnail"             
                       {% if enable_image_zoom %}data-zoom="{{ media.preview_image | img_url: 'master' }}"{% endif %}>
                      <img class="product-single__thumbnail-image img-fluid" src="{{ media.preview_image | img_url: 'master' }}" alt="{{ thumbnailAlt }}">
                      {%- if media.media_type == 'video' or media.media_type =='external_video' -%}
                      <span class="icon-play">
                      <i class="ti-control-play"></i>
                      </span>
                      {%- endif -%}
                      {%- if media.media_type == 'model' -%}
                      <div class="product-single__thumbnail-badge">
                        <i class="ti-box"></i>
                      </div>
                      {%- endif -%}
                    </a>
                  </div>
                  {% endfor %}
              </div>
            </div>
          </div>
          <div class="product_img_top">
            <div class="slider-for" {% if settings.enable_rtl %}dir="rtl"{% endif %}>
                {%- assign featured_media = current_variant.featured_media | default: product.featured_media -%}
              {%- for media in product.media -%}
              {% include 'media', media: media, featured_media: featured_media, height: height, enable_image_zoom: enable_image_zoom, image_zoom_size: product_image_zoom_size, image_scale: product_image_scale %}
              {%- endfor -%}
            </div>
          </div>
        </div>
      </div>
      {% endif %}

      <div class="col-xl-6 col-lg-6 col-md-12 col-12 product_details product_details_content">
        <div class="product_details_info">
            {%- for block in section.blocks -%}
            {%- case block.type -%}
            {%- when '@app' -%}
            {% render block %}

            {%- when 'text' -%}
            {{- block.settings.text -}}

            {%- when 'title_wrap' -%}
            <div class="title-wrap mobile-hide">
              <div class="product-title">
                <h6>{{ product.title }}</h6>
              </div>
            {% include 'social-share' %}
            </div>
            <!-- <div class="product-ratting">
              <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
            </div> -->
            <div class="product-infos mobile-hide">
                <h6>{{ section.settings.product_vendor_title }}</h6>
                <span class="variant-sku">{{ product.vendor }}</span>
              </div>
            <div class="product-infos mobile-hide">
                <h6>{{ section.settings.product_sku_title }}</h6>
                <span class="variant-sku" id="variantsku">{{ current_variant.sku }}</span>
              </div>
              
              {% if product.metafields.custom.typ_svetelneho_zdroje or product.metafields.custom.vykon or product.metafields.custom.svetelny_tok or product.metafields.custom.barevna_teplota or product.metafields.custom.stupen_kryti %}
              <span class="product-meta">
                <span class="product-meta__group product-meta__group--lumins">
                  {% if product.metafields.custom.typ_svetelneho_zdroje %}
                    <span>{{ product.metafields.custom.typ_svetelneho_zdroje }}</span>
                  {% endif %}

                  {% if product.metafields.custom.vykon %}
                    <span>&nbsp;{{ product.metafields.custom.vykon }}</span>
                  {% endif %}

                  {% if product.metafields.custom.svetelny_tok %}
                    <span>&nbsp;{{ product.metafields.custom.svetelny_tok }}</span>
                  {% endif %}

                  {% if product.metafields.custom.barevna_teplota %}
                    <span>&nbsp;{{ product.metafields.custom.barevna_teplota }}</span>
                  {% endif %}
                </span>
                <span class="product-meta__group product-meta__group--coverage">
                  {% if product.metafields.custom.stupen_kryti %}
                    <span>{{ product.metafields.custom.stupen_kryti }}</span>
                  {% endif %}
                </span>
              </span>
              {% endif %}

              <script>
                $( document ).ready(function() {
                  
                  // get selected option on load
                  var selectedCct = $('input[type=radio][name=option-0]:checked').val();

                  $( "input[type=radio][name=option-0]" ).change(function() {
                      var selectedCct = $(this).val();
                  });
                  

                  console.log(selectedCct);
                  
                });
              </script>
              
              {% if product.metafields.custom.psaci_text_pod_vyrobcem %}
                
                <div class="product-badge"><p>{{product.metafields.custom.psaci_text_pod_vyrobcem}}</p></div>
              {% endif %}
              <div class="product-desc mobile-hide">
                {{ product.description }}
              </div>
            {%- when 'short_description' -%}
            {% if product.metafields.my_fields.short_description %}
            <div class="available-desc">
              <div class="product-description">
                {{ product.metafields.my_fields.short_description }}
              </div>
            </div>
            {% endif %}
            
          {%- when 'product_availability' -%}
          {% assign colorVariant = product.metafields.my_fields.color_swatche.value %}
          {% if colorVariant %}

            <div class="swatch-custom-container">
              {% include 'product-swatch-custom' %}
            </div>
          {% endif %}
          <div class="pro-prlb{% if on_sale %} pro-sale{% endif %}">
            <div class="price-box">
              <h6>{{ section.settings.product_cena }}</h6>
              <div class="price-flex">
                {%- if wcp_compare_at_price_max > wcp_price -%}
                <span class="old-price" id="ComparePrice">{{ wcp_v_compare_at_price | money }}</span>
                {%- endif -%}
                <p><span class="new-price" id="ProductPrice">{{ wcp_v_price | money }}</span></p>
                <p class="price-no-vat"><span id="ProductPriceVat">{{ wcp_v_price | divided_by: 1.21 | money }}</span> bez DPH</p>
              </div>
            </div>
            {% if on_sale %}
            {% if settings.sale_percent_enable %}

              <div class="product-label">
                <span id="ProductDiscount">{{ wcp_v_compare_at_price | minus: wcp_v_price | times: 100.0 | divided_by: wcp_v_compare_at_price | money_without_currency | replace: ',', '.' | times: 100 | remove: '.0' }}</span>
              </div>

            {% endif %}
            {% endif %}
          </div>
            <div class="product-inventory" id="variant-inventory">
              <h6>{{ block.settings.availability_title }}</h6>
              {% if product.variants.first.inventory_management == "shopify" and product.variants.first.inventory_quantity == 0 %}
              <span class="out-stock text-danger">
                <span>{{ block.settings.out_of_stock_title }}</i></span>
              </span>
              <span class="in-stock text-success">
                <span>{{ block.settings.in_stock_title }}</span>
                {{ block.settings.stock_vice }}
              </span>
              {% elsif product.variants.first.inventory_management == "shopify" and product.variants.first.inventory_quantity > 0 %}
              <span class="in-stock text-success">
                <span>{{ block.settings.in_stock_title }}</span>
              </span>
              <span class="out-stock text-danger">
                <span>{{ block.settings.out_of_stock_title }}</span>
              </span>
              {% else %}
              <span class="in-stock d-block text-success">
                <span>{{ block.settings.in_stock_title }}</span>
              </span>
              {% endif %}
            </div>
            
            {%- when 'product_stock_inventory' -%}
              
            {% if product.variants.first.inventory_management == "shopify" and product.variants.first.inventory_quantity == 0 %}
            {% elsif product.variants.first.inventory_management == "shopify" and product.variants.first.inventory_quantity > 0 %}
            <div class="stock-inventory">
            <div class="stock-more text-success">
              {{ block.settings.stock_vice }}
            </div>
            <div class="stock-kus text-success">
              <span class="available-stock">{{ product.variants.first.inventory_quantity }}</span>
              <span>{{ block.settings.stock_kusy }}</span>
            </div>
            </div>
            {% endif %}
          

          {%- when 'product_variant_picker' -%}

          <div class="pro-detail-action pp-action">
            <form action="/cart/add" method="post" class="cart-{{ product.id }}" enctype="multipart/form-data" id="add-item-form">
              <div class="product-actions">
                <div class="product-quantity-action">
                  {% include 'product-quantity' %}
                  {% include 'product-cart-action' %}
                  <!-- {% include 'instant-buy' %} -->
                </div>
              </div>
            </form>
          </div>
            <div class="pro-detail-action pp-swatch">
              <form action="/cart/add" method="post" class="cart-{{ product.id }}" enctype="multipart/form-data" id="add-item-form">
                {% include 'product-swatch-variant' %}
              </form>
            </div>
          {%- when 'product_description_tab' -%}
          <div class="product-b2b">{{section.settings.velkoobchod}}</div>
          <div class="product-description-tab">
            <ul id="accordion">

              <li role="presentation">
                <a class="acc-title collapsed" href="#additional-information" data-bs-toggle="collapse">
                  {{ block.settings.additional_information_title }}
                </a>
                <div class="tab-content collapse" id="additional-information" data-bs-parent="#accordion">
              <table class="technic-table">
                <tbody>
                  {% if product.metafields.custom.varianty_montaze %}
                    <tr class="technic-row">
                      <td class="technic-title">Varianta montáže</td>
                      <td class="technic-value">{{ product.metafields.custom.varianty_montaze }}</td>
                    </tr>
                  {% endif %}
                  {% if product.metafields.custom.stupen_kryti %}
                    <tr class="technic-row">
                      <td class="technic-title">Stupeň krytí</td>
                      <td class="technic-value">{{ product.metafields.custom.stupen_kryti }}</td>
                    </tr>
                  {% endif %}
                  {% if product.metafields.custom.povrchova_uprava %}
                    <tr class="technic-row">
                      <td class="technic-title">Povrchová úprava</td>
                      <td class="technic-value">{{ product.metafields.custom.povrchova_uprava }}</td>
                    </tr>
                  {% endif %}
                  {% if product.metafields.custom.material %}
                    <tr class="technic-row">
                      <td class="technic-title">Materiál</td>
                      <td class="technic-value">{{ product.metafields.custom.material }}</td>
                    </tr>
                  {% endif %}
                  {% if product.metafields.custom.typ_svetelneho_zdroje %}
                    <tr class="technic-row">
                      <td class="technic-title">Typ světelného zdroje</td>
                      <td class="technic-value">{{ product.metafields.custom.typ_svetelneho_zdroje }}</td>
                    </tr>
                  {% endif %}
                  {% for variant in product.variants %}
                    {% if variant.metafields.custom.vykon %}
                      <tr class="technic-row vykon-varianty" id="{{ variant.id }}4" style="display:none;">
                        <td class="technic-title">Výkon</td>
                        <td class="technic-value variant-vykon">{{ variant.metafields.custom.vykon }}</td>
                      </tr>
                      {% endif %}
                    {% endfor %}

                  {% if product.metafields.custom.vykon %}
                    <tr class="technic-row">
                      <td class="technic-title">Výkon</td>
                      <td class="technic-value">{{ product.metafields.custom.vykon }}</td>
                    </tr>
                  {% endif %}

                  {% for variant in product.variants %}
                    {% if variant.metafields.custom.svetelny_tok %}
                      <tr class="technic-row tok-varianty" id="{{ variant.id }}5" style="display:none;">
                        <td class="technic-title">Světelný tok</td>
                        <td class="technic-value variant-tok">{{ variant.metafields.custom.svetelny_tok }}</td>
                      </tr>
                      {% endif %}
                    {% endfor %}

                  {% if product.metafields.custom.svetelny_tok %}
                    <tr class="technic-row">
                      <td class="technic-title">Světelný tok</td>
                      <td class="technic-value">{{ product.metafields.custom.svetelny_tok }}</td>
                    </tr>
                  {% endif %}
                  {% if product.metafields.custom.hodnota_oslneni %}
                    <tr class="technic-row">
                      <td class="technic-title">Hodnota oslnění (UGR)</td>
                      <td class="technic-value">{{ product.metafields.custom.hodnota_oslneni }}</td>
                    </tr>
                  {% endif %}
                  {% if product.metafields.custom.index_barev %}
                    <tr class="technic-row">
                      <td class="technic-title">Index podání barev (CRI)</td>
                      <td class="technic-value">{{ product.metafields.custom.index_barev }}</td>
                    </tr>
                  {% endif %}
                  {% if product.metafields.custom.uhel_svitu %}
                    <tr class="technic-row">
                      <td class="technic-title">Úhel svitu</td>
                      <td class="technic-value">{{ product.metafields.custom.uhel_svitu }}</td>
                    </tr>
                  {% endif %}
                  {% for variant in product.variants %}
                    {% if variant.metafields.custom.barevna_teplota %}
                      <tr class="technic-row barva-varianty" id="{{ variant.id }}6" style="display:none;">
                        <td class="technic-title">Barevná teplota</td>
                        <td class="technic-value variant-barva">{{ variant.metafields.custom.barevna_teplota }}</td>
                      </tr>
                      {% endif %}
                    {% endfor %}
                  {% if product.metafields.custom.barevna_teplota %}
                    <tr class="technic-row">
                      <td class="technic-title">Barevná teplota</td>
                      <td class="technic-value">{{ product.metafields.custom.barevna_teplota }}</td>
                    </tr>
                  {% endif %}
                  {% if product.metafields.custom.zivnotnost_h_ %}
                    <tr class="technic-row">
                      <td class="technic-title">Životnost (v hodinách)</td>
                      <td class="technic-value">{{ product.metafields.custom.zivnotnost_h_ }}</td>
                    </tr>
                  {% endif %}
                  {% if product.metafields.custom.zivotnost %}
                    <tr class="technic-row">
                      <td class="technic-title">Životnost</td>
                      <td class="technic-value">{{ product.metafields.custom.zivotnost }}</td>
                    </tr>
                  {% endif %}
                  {% if product.metafields.custom.elektricka_trida %}
                    <tr class="technic-row">
                      <td class="technic-title">Elektrická třída</td>
                      <td class="technic-value">{{ product.metafields.custom.elektricka_trida }}</td>
                    </tr>
                  {% endif %}
                  {% if product.metafields.custom.stmivatelnost %}
                    <tr class="technic-row">
                      <td class="technic-title">Stmívatelné</td>
                      <td class="technic-value">{{ product.metafields.custom.stmivatelne | replace: "true", "ano" | replace: "false", "ne" }}</td>
                    </tr>
                  {% endif %}
                  {% if product.metafields.custom.pohybove_cidlo %}
                    <tr class="technic-row">
                      <td class="technic-title">Pohybové čidlo</td>
                      <td class="technic-value">{{ product.metafields.custom.pohybove_cidlo | replace: "true", "ano" | replace: "false", "ne" }}</td>
                    </tr>
                  {% endif %}



                  {% for variant in product.variants %}
                  {% if variant.metafields.custom.rozmer %}
                    <tr class="technic-row rozmer-varianty" id="{{ variant.id }}1" style="display:none;">
                      <td class="technic-title">Rozměry</td>
                      <td class="technic-value variant-rozmer">{{ variant.metafields.custom.rozmer }}</td>
                    </tr>
                    {% endif %}
                  {% endfor %}


                  {% if product.metafields.custom.rozmery %}
                    <tr class="technic-row">
                      <td class="technic-title">Rozměry</td>
                      <td class="technic-value">{{ product.metafields.custom.rozmery }}</td>
                    </tr>
                  {% endif %}
                  {% if product.metafields.custom.napeti %}
                    <tr class="technic-row">
                      <td class="technic-title">Napětí</td>
                      <td class="technic-value">{{ product.metafields.custom.napeti }}</td>
                    </tr>
                  {% endif %}
                  {% if product.metafields.custom.zaruka %}
                  <tr class="technic-row">
                    <td class="technic-title">Záruka</td>
                    <td class="technic-value">{{ product.metafields.custom.zaruka }}</td>
                  </tr>
                  {% endif %}
                  {% if product.metafields.custom.spec_nazev %}
                  <tr class="technic-row">
                    <td class="technic-title">{{ product.metafields.custom.spec_nazev }}</td>
                    <td class="technic-value">{{ product.metafields.custom.spec_hodnota }}</td>
                  </tr>
                  {% endif %}
            </tbody>
            </table>
          </div>
            </li>

              
            </ul>
           {%- when 'wishlist_button' -%}
          <div class="pro-detail-button">

            {% include 'wishlist-5' %}

            {%- if block.settings.sizeguide_enable -%}
            <div class="size-guide">
              <button type="button" class="sizeguide-title" data-bs-toggle="modal" data-bs-target="#modalsizeguid">
                <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1"><path d="M4 19.5A2.5 2.5 0 0 1 6.5 17H20"></path><path d="M6.5 2H20v20H6.5A2.5 2.5 0 0 1 4 19.5v-15A2.5 2.5 0 0 1 6.5 2z"></path></svg>
                {{ block.settings.sizeguide_title }}
              </button>

              <div class="sizeguide modal fade" id="modalsizeguid" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-body">
                      {% assign page_content = block.settings.sizeguide_page %}  
                      {{ pages[page_content].content }}
                    </div>
                    <button type="button" class="close" data-bs-dismiss="modal"><i class="ti-close"></i></button>
                  </div>
                </div>
              </div>
            </div>
            {%- endif -%}

          </div>


          {%- when 'payment_img' -%}
          <div class="product-payment-image">
            {% include 'payment-icon' %}
          </div>

          {%- endcase -%}
          {%- endfor -%}


        <div class="product-download">
          {% if product.metafields.my_fields.n_vod_k_mont_i.value.url %}
            <p><span>{{section.settings.navod }}</span> <a href="{{ product.metafields.my_fields.n_vod_k_mont_i.value.url }}" target="_blank">{{section.settings.download }}</a> {% include 'pdf' %}</p>
          {% endif %}
          {% for variant in product.variants %}
              {% if variant.metafields.custom.n_vod_k_mont_i.value.url %}
                  <p class="variant-file" style="display:none;" id="{{ variant.id }}"><span>{{section.settings.navod }}</span> <a href="{{ variant.metafields.custom.n_vod_k_mont_i.value.url }}" target="_blank">{{section.settings.download }}</a> {% include 'file' %}</p>
              {% endif %}
          {% endfor %} 
          {% if product.metafields.my_fields.data_sheet.value.url %}
            <p><span>{{section.settings.sheet }}</span> <a href="{{ product.metafields.my_fields.data_sheet.value.url }}" target="_blank">{{section.settings.download }}</a> {% include 'file' %}</p>
          {% endif %}
{%- comment -%}
          {% for variant in product.variants %}
              {% if product.selected_or_first_available_variant.id == variant.id %}
                {% if variant.metafields.custom.data_sheet.value.url %}
                    <p><span>{{section.settings.sheet }} ({{ variant.title }})</span> <a href="{{ variant.metafields.custom.data_sheet.value.url }}">{{section.settings.download }}</a> {% include 'file' %}</p>
                {% endif %}
              {% endif %}
          {% endfor %}
          {%- endcomment -%}

          {% for variant in product.variants %}
            {% if variant.metafields.custom.data_sheet.value.url %}
              <p class="variant-sheet" style="display:none;" id="{{ variant.id }}2"><span>{{section.settings.sheet }}</span> <a href="{{ variant.metafields.custom.data_sheet.value.url }}" target="_blank">{{section.settings.download }}</a> {% include 'file' %}</p>
            {% endif %}
          {% endfor %} 
          {% for variant in product.variants %}
            {% if variant.metafields.custom.ldt_data.value.url %}
            <p class="variant-ldt" style="display:none;" id="{{ variant.id }}3"><span>LDT data</span> <a href="{{ variant.metafields.custom.ldt_data.value.url }}" target="_blank">{{section.settings.download }}</a> {% include 'file' %}</p>
            {% endif %}
          {% endfor %} 
          {% if product.metafields.custom.ldt_data.value.url %}
            <p><span>LDT data</span> <a href="{{ product.metafields.custom.ldt_data.value.url }}" target="_blank">{{section.settings.download }}</a> {% include 'file' %}</p>
          {% endif %}
        </div>
        <div class="product-desc desktop-hide">
          {{ product.description }}
        </div>
      </div>
    </div>
  </div>
  </div>
</section>
{% schema %}
{
  "name": "Product",
  "settings": [
  {
    "type": "text",
    "id": "product_sku_title",
    "label": "SKU Title",
    "default": "Kód zboží:"
  },
  {
    "type": "text",
    "id": "swatch",
    "label": "Finish",
    "default": "Barva:"
  },{
      "type": "text",
      "id": "product_vendor_title",
      "label": "Výrobce",
      "default": "Výrobce:"
    },{
      "type": "text",
      "id": "product_cena",
      "label": "Cena",
      "default": "Cena:"
    },
    {
      "type": "text",
      "id": "social_share_title",
      "label": "Social Share Title",
      "default": "Sdílet:"
    },
    {
      "type": "richtext",
      "id": "velkoobchod",
      "label": "Věta o velkoobchodu",
      "default": "<p>Jste z oboru? Zaregistrujte se do našeho <a href=\"\/pages\/velkoobchodni-program\" title=\"Velkoobchodní program\">velkoobchodního programu<\/a> a čerpejte veškeré výhody na maximum.<\/p>"
    },
    {
      "type": "text",
      "id": "navod",
      "label": "Návod k montáži",
      "default": "Návod k montáži:"
    },
    {
      "type": "text",
      "id": "sheet",
      "label": "Data sheet",
      "default": "Data sheet:"
    },
    {
      "type": "text",
      "id": "download",
      "label": "ke stažení",
      "default": "ke stažení"
    },{
    "type": "header",
    "content": "Section Padding"
  },
  {
    "type" : "paragraph",
    "content" : "Desktop / Laptop / tablet"
  },
  {
    "type": "range",
    "id": "section_padding_top",
    "label": "Section Padding Top",
    "min": 0,
    "max": 100,
    "step": 5,
    "unit": "px",
    "default": 40
  },
  {
    "type": "range",
    "id": "section_padding_bottom",
    "label": "Section Padding Bottom",
    "min": 0,
    "max": 100,
    "step": 5,
    "unit": "px",
    "default": 100
  },
  {
    "type" : "paragraph",
    "content" : "Ipad pro / Ipad"
  },
  {
    "type": "range",
    "id": "section_padding_top_ipad",
    "label": "Section Padding Top",
    "min": 0,
    "max": 100,
    "step": 5,
    "unit": "px",
    "default": 30
  },
  {
    "type": "range",
    "id": "section_padding_bottom_ipad",
    "label": "Section Padding Bottom",
    "min": 0,
    "max": 100,
    "step": 5,
    "unit": "px",
    "default": 60
  },
  {
    "type" : "paragraph",
    "content" : "Mobile"
  },
  {
    "type": "range",
    "id": "section_padding_top_xs",
    "label": "Section Padding Top",
    "min": 0,
    "max": 100,
    "step": 5,
    "unit": "px",
    "default": 20
  },
  {
    "type": "range",
    "id": "section_padding_bottom_xs",
    "label": "Section Padding Bottom",
    "min": 0,
    "max": 100,
    "step": 5,
    "unit": "px",
    "default": 40
  },
  {
    "type": "radio",
    "id": "product_style_handle",
    "label": "Product Style",
    "options":[
    {
      "label": "Bottom Thumbnail",
      "value": "style_1"
    },
    {
      "label": "Right Thumbnail",
      "value": "style_2"
    },
    {
      "label": "Left Thumbnail",
      "value": "style_3"
    }
    ],
    "default": "style_1"
  },
  {
    "type": "header",
    "content": "Product Background Color"
  },
  {
    "type": "color",
    "id": "pro_bg_color",
    "label": "Background Color",
    "default": "#fff"
  },
    {
  "type": "header",
  "content": "Product Zoom Option"
  },
  {
  "type": "checkbox",
  "id": "zoom_enable",
  "label": "Show product zoom enable",
  "default": false
  }
  ],
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "text",
      "name": "Text block",
      "settings": [
      {
        "type": "text",
        "id": "text",
        "default": "Text block",
        "label": "Meta metafields text"
      }
      ]
    },
    {
      "type": "title_wrap",
      "name": "Product title",
      "limit": 1
    },
    {
      "type": "short_description",
      "name": "Product short description",
      "limit": 1,
      "settings": [
      {
        "type": "header",
        "content": "metafields add"
      },
      {
        "type": "header",
        "content": "Product Stock"
      },
      {
        "type": "checkbox",
        "id": "product_stock_enable",
        "label": "Show Product Stock",
        "default": true
      },
      {
        "type": "text",
        "id": "stock_label1",
        "label": "Text1",
        "default": "Hurry up! only"
      },
      {
        "type": "text",
        "id": "stock_label2",
        "label": "Text2",
        "default": "products left in stock!"
      }
      ]
    },
    {
      "type": "product_availability",
      "name": "Product Availability",
      "limit": 1,
      "settings": [
        {
          "type": "header",
          "content": "Product Inventory"
        },
        {
          "type": "text",
          "id": "availability_title",
          "label": "Available Title",
          "default": "Availability:"
        },
        {
          "type": "text",
          "id": "in_stock_title",
          "label": "Stock Title",
          "default": "In stock"
        },
        {
          "type": "text",
          "id": "out_of_stock_title",
          "label": "Stock Title",
          "default": "Out of stock"
        }
      ]
  },
  {
      "type": "product_stock_inventory",
      "name": "Product Stock Inventory",
      "limit": 1,
      "settings": [
        {
          "type": "header",
          "content": "Product Stock"
        },
        {
          "type": "text",
          "id": "stock_vice",
          "label": "( > 5 ks)",
          "default": "( > 5 ks)"
        },
        {
          "type": "text",
          "id": "stock_kusy",
          "label": "ks",
          "default": "ks"
        }
      ]
    },
    {
      "type": "product_variant_picker",
      "name": "Product Variant",
      "limit": 1,
      "settings": [
        {
          "type": "header",
          "content": "Product Variant"
        },
        {
          "type": "radio",
          "id": "product_variant_handle",
          "label": "Variant Option",
          "options":[
            {
            "label": "Select Option",
            "value": "product_variant_select_option"
            },
            {
            "label": "Swatch Option",
            "value": "product_variant_swatch_option"
            }
          ],
          "default": "product_variant_swatch_option"
          },
          {
            "type": "paragraph",
            "content": "Product Variant Option Swatch Option For Color"
          },
          {
            "type": "checkbox",
            "id": "product_variant_color_image_enable",
            "label": "Show Image In-place Of Color",
            "default": true
          },
          {
            "type": "checkbox",
            "id": "product_variant_color_enable",
            "label": "Show Color Option",
            "default": true
          }
        ]
    },
    {
      "type": "product_description_tab",
      "name": "Product description tab",
      "limit": 1,
      "settings": [
      {
        "type": "header",
        "content": "Description tab Tab"
      },
      {
        "type": "text",
        "id": "product_info_tab_title",
        "label": "Description Title",
        "default": "Description"
      },
      {
        "type": "header",
        "content": "additional information tab"
      },
      {
        "type": "text",
        "id": "additional_information_title",
        "label": "Additional title",
        "default": "Additional information"
      },
      {
        "type": "header",
        "content": "Product Video Tab"
      },
      {
        "type": "text",
        "id": "product_review_tab_title",
        "label": "Title",
        "default": "Reviews"
      },
      {
        "type": "text",
        "id": "product_video_title",
        "label": "Title",
        "default": "Video",
        "info": "Use metafields and past iframe"
      }
      ]
    },
  {
      "type": "wishlist_button",
      "name": "Product wishlist button",
      "limit": 1,
      "settings": [
      {
        "type": "header",
        "content": "Product Sizeguide"
      },
      {
        "type": "checkbox",
        "id": "sizeguide_enable",
        "label": "Show Product Sizeguide",
        "default": true
      },
      {
        "type": "text",
        "id": "sizeguide_title",
        "label": "sizeguide Title",
        "default": "Sizeguid"
      },
      {
        "type": "page",
        "id": "sizeguide_page",
        "label": "Select a page"
      }
      ]
    },
    {
      "type": "product_sku",
      "name": "Product Sku",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "product_sku_title",
          "label": "SKU Title",
          "default": "SKU:"
        },{
            "type": "text",
            "id": "product_vendor_title",
            "label": "Výrobce",
            "default": "Výrobce:"
          },
        {
          "type": "header",
          "content": "Social Option"
        },
        {
          "type": "checkbox",
          "id": "social_share_enable",
          "label": "Show Social Share",
          "default": true
        }
      ]
    },
    {
      "type": "payment_img",
      "name": "Payment Image",
      "limit": 1,
      "settings": [
        
      ]
    }
  ]
}
{% endschema %}
<script>
  $( document ).ready(function() {
    $('.slider-for').slick({
      slidesToShow: 1,
      arrows: false,
      {% if settings.enable_rtl %}
      rtl: true,
      {% endif %}
      infinite: false,
      asNavFor: '.slider-nav'
    });
    $('.slider-nav').slick({
      slidesToShow: 4,
      arrows: false,
      {% if section.settings.product_style_handle == 'style_2' or section.settings.product_style_handle == 'style_3' %}
      vertical: true,
      verticalSwiping: true,
      {% endif %}
      {% if settings.enable_rtl %}
      rtl: true,
      {% endif %}
      infinite: false,
      asNavFor: '.slider-for',
      dots: false,
      focusOnSelect: true,
      responsive: [
        {
          breakpoint: 480,
          settings: {
            vertical: false,
            verticalSwiping: false,
          }
        }
      ]
    });
    $(window).resize(function() {
      $('.slider-for')[0].slick.refresh();
      $('.slider-nav')[0].slick.refresh();
    });
  });
  $('.slider-for').slickLightbox({
    src: 'src',
    itemSelector: 'img'
  });
  var selectCallback = function(variant, selector) {
      $('.variant-file').css('display', 'none');
      $('#' + variant.id).css('display', 'grid');
      $('.variant-sheet').css('display', 'none');
      $('#' + variant.id + '2').css('display', 'grid');
      $('.variant-ldt').css('display', 'none');
      $('#' + variant.id + '3').css('display', 'grid');
      $('.rozmer-varianty').css('display', 'none');
      $('#' + variant.id + '1').css('display', 'table-row');
      $('.vykon-varianty').css('display', 'none');
      $('#' + variant.id + '4').css('display', 'table-row');
      $('.tok-varianty').css('display', 'none');
      $('#' + variant.id + '5').css('display', 'table-row');
      $('.barva-varianty').css('display', 'none');
      $('#' + variant.id + '6').css('display', 'table-row');
    timber.productPage({
      money_format: "{{ shop.money_format }}",
      variant: variant,
      selector: selector
    });
    if (variant) {
      // Current variant select+
      var form = jQuery('#' + selector.domIdPrefix).closest('form');
      for (var i=0,size=variant.options.size; i<size; i++) {
        var val = variant.options[i].replace(/'/g,"&#039;");
        var radioButton = form.find(".swatch[data-option-index='" + i + "'] :radio[value='" + val +"']");
        if (radioButton.size()) {
          radioButton.get(0).checked = true;
        }
      }
    }
  };

  jQuery(function($) {
    new Shopify.OptionSelectors('productSelect', {
      product: {{ product | json }},
      onVariantSelected: selectCallback,
      enableHistoryState: true
    });

    // Add label if only one product option and it isn't 'Title'. Could be 'Size'.
    {% if product.options.size == 1 and product.options.first != 'Title' %}
    $('.selector-wrapper:eq(0)').prepend('<label for="productSelect-option-0">{{ product.options.first | escape }}</label>');
    {% endif %}

    // Hide selectors if we only have 1 variant and its title contains 'Default'.
    {% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}
    $('.selector-wrapper').hide();
    $('.swatch').hide();
    {% endif %}

    // Auto-select first available variant on page load. Otherwise the product looks sold out.
    {% comment%}
    {% assign found_one_in_stock = false %}
    {% for variant in product.variants %}
      {% if variant.available and found_one_in_stock == false %}
        {% assign found_one_in_stock = true %}
        {% for option in product.options %}
          $('.single-option-selector:eq({{ forloop.index0 }})').val({{ variant.options[forloop.index0] | json }}).trigger('change');
        {% endfor %}
      {% endif %}
    {% endfor %}
    {% endcomment%}
    $('.product-single .single-option-selector').wrap('<div class="selector-arrow">');    
  });


  {% if section.settings.zoom_enable %}
  // product zoom
  function zoom(e){
    var zoomer = e.currentTarget;
    e.offsetX ? offsetX = e.offsetX : offsetX = e.touches[0].pageX
    e.offsetY ? offsetY = e.offsetY : offsetX = e.touches[0].pageX
    x = offsetX/zoomer.offsetWidth*100
    y = offsetY/zoomer.offsetHeight*100
    zoomer.style.backgroundPosition = x + '% ' + y + '%';
  }
  {% endif %}


  var selector = '#accordion li';

$(selector).on('click', function(){
    $(selector).removeClass('active');
    $(this).addClass('active');
});


$(".pp-action").insertAfter(".product-inventory");
$(".stock-inventory").appendTo(".product-inventory");
$(".pp-swatch").insertAfter(".swatch-custom-container");
</script>



<style>
    .product-variant-custom .swatch-variant .swatch .swatch-element{
    {% if settings.enable_rtl %}
    margin-right: 15px;
    {% else %}
    margin-left: 15px;
    {% endif %}
  }
   .product-details-page .swatch-custom-container{
      margin-top: 10px;
      display: inline-block;
      margin-bottom: 40px;
    }
    

.product-details-page{
  padding-top: {{ section.settings.section_padding_top }}px;
  padding-bottom: {{ section.settings.section_padding_bottom }}px;
  background-color: {{ section.settings.pro_bg_color }};
}
/* product detail col css */
@media (max-width: 1199px) {
  .product-details-page{
    padding-top: {{ section.settings.section_padding_top_ipad }}px;
    padding-bottom: {{ section.settings.section_padding_bottom_ipad }}px;
  }
}
@media (max-width: 767px) {
  .product-details-page{
    padding-top: {{ section.settings.section_padding_top_xs }}px;
    padding-bottom: {{ section.settings.section_padding_bottom_xs }}px;
  }
}
{% if section.settings.product_style_handle == 'style_1' %}
.product_details.product_details_gallery{
  {% if settings.enable_rtl %}
  padding-left: 70px;
  {% else %}
  padding-right: 70px;
  {% endif %}
}
.product_details.product_details_content {
  {% if settings.enable_rtl %}
  padding-right: 70px;
  {% else %}
  padding-left: 70px;
  {% endif %}
}
.product_details .product_detail_img .product_slider_img .slider-nav .slick-list {
  margin: 0 -7.5px;
}
.product_details .product_detail_img .product_slider_img{
  padding-top: 7.5px;
}
.product_details .product_detail_img .product_slider_img .slider-nav .slick-slide{
  padding: 7.5px;
}

.product_details .product_detail_img .product-single__thumbnail{
  position: relative;
}
.product_details .product_detail_img .product-single__thumbnail .icon-play{
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 12px;
  line-height: 1;
  background-color: #222;
  height: 20px;
  width: 20px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
}
@media(max-width: 1599px){
  .product_details.product_details_gallery{
    {% if settings.enable_rtl %}
  padding-left: 30px;
  {% else %}
  padding-right: 30px;
  {% endif %}
  }
  .product_details.product_details_content {
    {% if settings.enable_rtl %}
  padding-right: 30px;
  {% else %}
  padding-left: 30px;
  {% endif %}
  }
}
@media(max-width: 1199px){
  .product_details.product_details_gallery{
   {% if settings.enable_rtl %}
  padding-left: 20px;
  {% else %}
  padding-right: 20px;
  {% endif %}
  }
  .product_details.product_details_content {
    {% if settings.enable_rtl %}
  padding-right: 20px;
  {% else %}
  padding-left: 10px;
  {% endif %}
  }
}
@media(max-width: 991px){
  .product_details.product_details_gallery{
    {% if settings.enable_rtl %}
  padding-left: 10px;
  {% else %}
  padding-right: 10px;
  {% endif %}
  }
  .product_details.product_details_content {
    {% if settings.enable_rtl %}
  padding-right: 10px;
  {% else %}
  padding-left: 10px;
  {% endif %}
  }
}

{% endif %}

{% if section.settings.product_style_handle == 'style_2' or section.settings.product_style_handle == 'style_3' %}

/* product slider css */
.product_details .product_detail_img{
  position: relative;
  overflow: hidden;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  {% if settings.enable_rtl %}
  margin-left: 0;
  {% else %}
  margin-right: 0;
  {% endif %}
  flex-direction: row;
}
.product_details .product_detail_img .product_img_top{
  width: 80%;
  position: relative;
  overflow: hidden;
  /* -webkit-box-shadow: 0 0 10px rgb(0 0 0 / 6%);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px rgb(0 0 0 / 6%); */
}
.product_details .product_detail_img .product_img_top .slider-for{
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
}
.product_details .product_detail_img .product_img_top .slider-for .slick-list {
  height: 100%;
  width: 100%;
}
.product_details .product_detail_img .product_img_top .slider-for .slick-track{
  height: 100%;
}
.product_details .product_detail_img .product_img_top .slider-for figure{
  height: 100%;
  width: 100%;
}
.product_details .product_detail_img .product_img_top .slider-for figure img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.product_details .product_detail_img .product_slider_img{
  width: 20%;
  overflow: hidden;
  {% if section.settings.product_style_handle == 'style_2' %}
  {% if settings.enable_rtl %}
  padding-right: 7.5px;
  {% else %}
  padding-left: 7.5px;
  {% endif %}
  {% endif %} 
  {% if section.settings.product_style_handle == 'style_3' %}
  {% if settings.enable_rtl %}
  padding-right: 7.5px;
  {% else %}
  padding-right: 7.5px;
  {% endif %}  
  {% endif %} 
}
.product_details .product_detail_img .product_slider_img .slider-nav{
}
.product_details .product_detail_img .product_slider_img .product_more_img{
  position: relative;
}
.product_details .product_detail_img .product_slider_img .product_more_img .slick-list {
  margin: -7.5px 0;
}
.product_details .product_detail_img .product_slider_img .slick-track{

}
.product_details .product_detail_img .product_slider_img .slider-nav .slick-slide{
  border: none;
  padding: 7.5px;
}

.product_details .product_detail_img .product_slider_img .slider-nav .slick-slide a{
  height: 100%;
  display: block;
}

@media (max-width: 479px) {
  .product_details .product_detail_img .product_img_top .slider-for{
    position: unset;
  }
  .product_details .product_detail_img{
    
    {% if section.settings.product_style_handle == 'style_2' %}
    flex-direction: column;
    {% endif %} 
    {% if section.settings.product_style_handle == 'style_3' %}
    flex-direction: column-reverse;
    {% endif %} 
  }
  .product_details .product_detail_img .product_img_top,
  .product_details .product_detail_img .product_slider_img{
    width: 100%;
  }
  .product_details .product_detail_img .product_slider_img{
    {% if section.settings.product_style_handle == 'style_2' %}
    {% if settings.enable_rtl %}
    padding-right: 0px;
    {% else %}
    padding-left: 0px;
    {% endif %}
    {% endif %} 
    {% if section.settings.product_style_handle == 'style_3' %}
    {% if settings.enable_rtl %}
    padding-left: 0px;
    {% else %}
    padding-right: 0px;
    {% endif %}
    
    {% endif %} 
    padding-top: 15px;
  }
  .product_details .product_detail_img .product_slider_img .product_more_img .slick-list,
  .product_details .product_detail_img .product_slider_img .slick-track{
    margin: 0;
  }
  .product_details .product_detail_img .product_slider_img .slider-nav .slick-slide{
    padding: 0;
    {% if settings.enable_rtl %}
    padding-left: 15px;
    {% else %}
    padding-right: 15px;
    {% endif %}
    
  }
}
{% endif %}

/* product image css */
.product_detail_img .product_img_top{
  position: relative;
  z-index: 0;
  overflow: hidden;
  /* -webkit-box-shadow: 0 0 10px rgb(0 0 0 / 6%);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px rgb(0 0 0 / 6%); */
}
.product_detail_img .product_img_top figure{
  background-position: 50% 50%;
  position: relative;
  overflow: hidden;
  cursor: zoom-in;
  margin-bottom: 0px;
}
.product_detail_img .product_img_top figure img{
  ransition: opacity 0.5s;
  display: block;
  width: 100%;
}
.product_detail_img .product_img_top figure:hover img{
  opacity: 0;
  visibility: hidden;
}
.product-details-page .product_details .product_detail_img{
  position: relative;
  position: sticky;
  top: 60px;
}

.product-details-page .pro-detail-slider .slick-slide {
  display: flex;
}
/* .product-details-page .pro-detail-slider .slick-slide img{
  border: 1px solid #e2e2e2;
}
.product-details-page .pro-detail-slider .slick-slide.slick-current img{
  border: 1px solid var(--color-primary);
} */
.product_details .product_detail_img .product_img_top a.slick-slide{
  transition: none;
}

@media(max-width: 1199px){
  .product-details-page .product_details .product_detail_img{
    position: sticky;
    top: 60px;
  }
}

/* product detail title css*/
.product-breadcrumb{
  margin-bottom:10px;
}
.product-breadcrumb ul.breadcrumb-list{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.product-breadcrumb ul.breadcrumb-list li.breadcrumb-item{
  position: relative;
  display: flex;
  align-items: center;
  {% if settings.enable_rtl %}
  padding-right: 0px;
  {% else %}
  padding-left: 0px;
  {% endif %}
}
.product-breadcrumb ul.breadcrumb-list li.breadcrumb-item:first-child:before {
  display: none;
}
.product-breadcrumb ul.breadcrumb-list li.breadcrumb-item:before {
  content: "-";
  line-height: 1;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}
.product-breadcrumb ul.breadcrumb-list li.breadcrumb-item span,
.product-breadcrumb ul.breadcrumb-list li.breadcrumb-item a{
  font-size: 14px;
  font-weight: 400;
  /* text-transform: uppercase; */
  color: #6f6f6f;
  line-height: 1;
  -webkit-transition: all 0s ease-in-out 0s;
  -o-transition: all 0s ease-in-out 0s;
  transition: all 0s ease-in-out 0s;
}
.product_details_info .title-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0;
  margin-bottom: 10px;
}
.product_details_info .product-title h6{
  font-size: 25px;
  text-transform: capitalize;
  line-height: 1;
}
@media (max-width: 1599px){
  .product_details_info .title-wrap{
    margin-top: 30px;
  }
}
@media (max-width: 1199px){
  .product_details_info .title-wrap{
    flex-direction: column;
    align-items: flex-start;
  }
  .product_details_info .product-title h6{
    font-size: 18px;
  }
}
@media (max-width: 991px){
  .product_details_info{
    margin-top: 30px;
  }
}
@media (max-width: 767px){
  .product_details_info .title-wrap{
    margin-top: 15px;
  }
  .product-breadcrumb ul.breadcrumb-list li.breadcrumb-item span,
  .product-breadcrumb ul.breadcrumb-list li.breadcrumb-item a{
    font-size: 12px;
  }
}

/* product detail rating css*/
.product_details_info .product-ratting .spr-badge-starrating{
  margin-top: 25px;
  margin-right: 0px;
}
.product_details_info .product-ratting .spr-badge{
  display: flex;
  align-items: flex-end;
  line-height: 1;
  flex-direction: column-reverse;
}
.product_details_info .product-ratting .spr-badge-caption{
  display: block;
  font-size: 18px;
  font-weight: 500;
  color: #232323;
}
@media(max-width: 1199px){
  .product_details_info .product-ratting .spr-badge{
    align-items: flex-start;
    flex-direction: column-reverse;
  }
  .product_details_info .product-ratting,
  .product_details_info .product-ratting .spr-badge-starrating{
    margin-top: 15px;
  }
}
@media(max-width: 1199px){
  .product_details_info .product-ratting .spr-badge-caption{
    font-size: 14px;
  }
}

/* product detail price css*/
.product_details_info .pro-prlb{
  margin-top: 18px;
}
.product_details_info .pro-prlb.pro-sale{
  display: flex;
  align-items: center;
  margin-top: 40px;
}
.product_details_info .pro-prlb .price-box .new-price,
.product_details_info .pro-prlb .price-box .old-price{
  font-size: 35px;
  color:black;
}

.product_details_info .pro-prlb .price-box .new-price{
  font-weight: 900;
  margin-top:10px;
}
.product_details_info .price-box h6{
  font-size: 16px;
  text-transform: uppercase;
  line-height: 1;
  font-weight: 500;
  min-width: 150px;
  margin-bottom:10px;
}
.product_details_info .pro-prlb .price-flex{
  display:flex;
  align-items: baseline;
  flex-direction: column;
}
.product_details_info .pro-prlb .product-label{
  {% if settings.enable_rtl %}
  margin-right: 5px;
  {% else %}
  margin-left: 5px;
  {% endif %}
}
.product_details_info .pro-prlb .product-label span{
  color: #fff;
  font-size: 13px;
  padding: 3px 8px;
  position: unset;
  background-color: var(--color-primary);
}
.product_details_info .pro-prlb .product-label span::before{
  content: "-";
}
.product_details_info .pro-prlb .product-label span::after{
  content: "%";
}
.product_details_info .available-desc{
  margin-top: 40px;
  padding-top: 40px;
  border-top: 1px solid #e2e2e2;
}
.product_details_info .available-desc .product-description p{
  font-size: 16px;
}

@media (max-width: 1599px){
  .product_details_info .available-desc .product-description p{
    font-size: 14px;
  }
  .product_details_info .available-desc{
    margin-top: 30px;
    padding-top: 30px;
  }
}

@media (max-width: 1199px){
  .product_details_info .pro-prlb{
    margin-top: 15px;
  }
  .product_details_info .pro-prlb .price-box .new-price,
  .product_details_info .pro-prlb .price-box .old-price{
    font-size: 25px;
  }
}
@media (max-width: 767px){
  .product_details_info .available-desc {
    margin-top: 15px;
    padding-top: 15px;
  }
  .product_details_info .available-desc .product-description p {
    font-size: 14px;
  }
}
  
  /* product-inventory css*/
  .product_details_info .product-inventory{
    display: flex;
    align-items: baseline;
    /* text-transform: capitalize; */
    margin-top: 20px;
  }
  .product_details_info .product-inventory h6{
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
  }
  .product_details_info .product-inventory span.in-stock,
  .product_details_info .product-inventory span.out-stock{
    font-size: 14px;
    {% if settings.enable_rtl %}
    margin-right: 15px;
    {% else %}
    margin-left: 15px;
    {% endif %}
    font-weight: 600;
  }
  .product_details_info .product-inventory span.in-stock span,
  .product_details_info .product-inventory span.out-stock span{
    display: flex;
    align-items: center;
    text-transform: uppercase;
  }
  .product_details_info .product-inventory span.in-stock span i,
  .product_details_info .product-inventory span.out-stock span i{
    display: block;
    font-size: 14px;
    {% if settings.enable_rtl %}
    margin-right: 5px;
    {% else %}
    margin-left: 5px;
    {% endif %}
    line-height: 0;
  }
  .product_details_info .product-inventory span.in-stock span i::before,
  .product_details_info .product-inventory span.out-stock span i::before{
    font-weight: 600!important;
  }

  /* product stock-inventory css*/
  .product_details_info .stock-inventory .stock-more,
  .product_details_info .stock-inventory .stock-zero,  .product_details_info .stock-inventory .stock-kus{
    display: inline-block;
    /* text-transform: uppercase; */
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    margin-left: 4px;
  }
  .product_details_info .stock-inventory span.available-stock{
    font-weight: 600;
  }
  @media(max-width: 767px){
    .product_details_info .product-inventory,
    .product_details_info .stock-inventory {
      margin-top: 15px;
    }
  }

/* product details quantity css*/
.product_details_info .product-actions{
  padding-top: 30px;
}
.product_details_info .product-actions .product-quantity-action{
  display: flex;
  align-items: center;
}
.product_details_info .product-actions .product-quantity-action h6{
  font-size: 16px;
  text-transform: capitalize;
  line-height: 1;
}
@media(max-width: 1599px){
  .product_details_info .product-actions{
    margin-top: 30px;
  }
}
@media(max-width: 767px){
  .product_details_info .product-actions{
    margin-top: 15px;
  }
}

@media (max-width:400px){
  .product_details_info .product-actions .product-quantity-action {
    /* flex-direction: column; */
    align-items: flex-start;
    /* gap:20px; */
  }
}
/* product detail action button css */
.product_details_info .pro-detail-button{
  margin-top: 40px;
  display: flex;
  align-items: center;
}


.product_details_info a.action-wishlist {
  line-height: 1;
  color: #6f6f6f;
  display: flex;
  font-weight: 400;
  align-items: center;
}
.product_details_info a.action-wishlist svg{
  width: 18px;
  height: 18px;
}
.product_details_info a.action-wishlist:hover {
  color: var(--color-primary);
}
.product_details_info a.action-wishlist span.wishlist-remove-title,
.product_details_info a.action-wishlist span.wishlist-add-title{
  font-size: 16px;
  text-transform: uppercase;
  {% if settings.enable_rtl %}
  padding-right: 5px;
  {% else %}
  padding-left: 5px;
  {% endif %}
}
.product_details_info a.action-wishlist.is-active span.wishlist-add-title,
.product_details_info a.action-wishlist span.wishlist-remove-title{
  display: none;
}
.product_details_info a.action-wishlist.is-active span.wishlist-remove-title{
  display: inline-block;
}
@media(max-width: 1599px){
  .product_details_info .pro-detail-button{
    margin-top: 30px;
  }
}
@media(max-width: 767px){
  .product_details_info .pro-detail-button{
    margin-top: 15px;
  }
}
/* product detail other button css */
.product_details_info .pro-detail-action .product-actions .pro-aff-che{
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 15px;
  {% if settings.enable_rtl %}
  margin-right: -15px;
  {% else %}
  margin-left: -15px;
  {% endif %}
}
.product_details_info .pro-detail-action .product-actions .pro-aff-che a{
  width: calc(50% - 15px);
 {% if settings.enable_rtl %}
  margin-right: 15px;
  {% else %}
  margin-left: 15px;
  {% endif %}
}
@media(max-width: 1199px){
  .product_details_info a.action-wishlist span.wishlist-remove-title,
  .product_details_info a.action-wishlist span.wishlist-add-title{
    font-size: 15px;
  }
}
@media(max-width: 767px){
  .product_details_info .pro-detail-action .product-actions{
    margin-top: 15px;
  }
}
/* product size guide */
/* modal css */
.product_details_info .size-guide .sizeguide-title{
  color: #6f6f6f;
  font-size: 16px;
  text-transform: uppercase;
  {% if settings.enable_rtl %}
  margin-right: 30px;
  {% else %}
  margin-left: 30px;
  {% endif %}
  display: flex;
  align-items: center;
}
.product_details_info .size-guide .sizeguide-title:hover {
  color: var(--color-primary);
}
.product_details_info .size-guide .sizeguide-title svg{
  width: 18px;
  height: 18px;
  {% if settings.enable_rtl %}
  margin-left: 5px;
  {% else %}
  margin-right: 5px;
  {% endif %}
}
.product_details_info .sizeguide.modal {
  text-align: center;
}
.product_details_info .sizeguide.modal .modal-dialog {
  max-width: 960px;
  width: 960px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.product_details_info .sizeguide.modal .modal-dialog .modal-content {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
  border: none;
}
.product_details_info .sizeguide.modal .modal-dialog button.close{
  position: absolute;
  opacity: 1;
  font-size: 18px;
  {% if settings.enable_rtl %}
  left: 15px;
  {% else %}
  right: 15px;
  {% endif %}
  top: 15px;
}
.product_details_info .sizeguide.modal .modal-dialog .modal-body{
  padding: 40px;
}
@media (max-width: 991px) {
  .product_details_info .sizeguide.modal .modal-dialog {
    max-width: 710px;
  }
}
@media (max-width: 767px) {
  .product_details_info .size-guide .sizeguide-title{
    font-size: 15px;
  }
  .product_details_info .sizeguide.modal .modal-dialog {
    display: flex;
    max-width: 100%;
    height: 100%;
    margin: 0 0;
    padding: 15px;
  }
}
.product-size h6.product-size-title{
  font-size: 16px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1;
}
.product-size p{
  font-size: 16px;
  margin-top: 5px;
}
.product-size .table-responsive-md{
  overflow-y: hidden;
  overflow-x: scroll;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  overflow-x: auto;
  scrollbar-width: thin;
  -webkit-scrollbar-width: thin;
}
.product-size::-webkit-scrollbar {
  height: 1px;
}
.product-size table{
  width: 100%;
  table-layout: fixed;
  margin-top: 30px;
}
.product-size table thead tr,
.product-size table thead tr th{
  border: 0;
}
.product-size table thead tr th{
  color: #222;
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  padding: 5px 4px;
}
.product-size table tbody td{
  color: #777777;
  font-size: 13px;
  font-weight: normal;
  text-align: center;
  padding: 4px 4px;
}
.product-size table tbody tr:nth-child(odd) {
  background: #f7f8fa;
}
@media(max-width: 767px){
  .product-size table{
    width: auto;
  }
}
/* product detail sku social css */
.product_details_info .pro-skss{
  margin-top: 40px;
  padding-top: 40px;
  border-top: 1px solid #e2e2e2;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.product_details_info .product-sku,
.product_details_info .share-icons{
  display: flex;
  align-items: baseline;
  text-transform: uppercase;
  gap:10px;
  min-width: 170px;
}
.product_details_info .share-icons h6{
  font-size:12px;
  font-weight: 700;
}
.product_details_info .pro-skss .product-sku h6,
.product_details_info .pro-skss .share-icons h6{
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 1;
}
.product_details_info .pro-skss .product-sku span,
.product_details_info .pro-skss .share-icons ul{
  font-size: 18px;
  {% if settings.enable_rtl %}
  margin-right: 15px;
  {% else %}
  margin-left: 15px;
  {% endif %}
}
@media (max-width: 1599px){
  .product_details_info .pro-skss{
    margin-top: 30px;
    padding-top: 30px;
  }
}

@media (max-width: 1199px){
  .product_details_info .pro-skss{
    flex-direction: column;
    align-items: flex-start;
  }
  .product_details_info .pro-skss .share-icons{
    margin-top: 15px;
  }
  .product_details_info .pro-skss .product-sku span,
  .product_details_info .pro-skss .product-sku h6,
  .product_details_info .pro-skss .share-icons h6{
    font-size: 15px;
  }
}
@media (max-width: 767px){
  .product_details_info .pro-skss{
    margin-top: 15px;
    padding-top: 15px;
  }
  .product_details_info .share-icons{
    margin-top:10px;  
  }
}
/* product detail payment img css */
.product_details_info .product-payment-image{
  margin-top: 40px;
}
.template-product.mfp-zoom-out-cur{
  overflow: hidden;
}
.template-product.mfp-zoom-out-cur .mfp-wrap button.mfp-close,
.template-product.mfp-zoom-out-cur .mfp-wrap button.mfp-arrow{
  font-size: 30px;
}
@media (max-width: 1599px){
  .product_details_info .product-payment-image{
    margin-top: 30px;
  }
}
@media (max-width: 767px){
  .product_details_info .product-payment-image{
    margin-top: 15px;
  }
}
video.media-video{
  height: 100%;
  width: 100%;
}
.product-single__thumbnail  i{
  position: absolute;
}
.product-b2b p{
  font-size:12px;
  line-height: 16px;
  margin-top:20px;
  max-width: 55ch;
}
.product-b2b p a{
  text-decoration: underline;
}
/* product review tab css */
.product-description-tab {
  margin-top: 40px;
}
.product-description-tab ul li {
  padding-top: 15px;
  padding-bottom: 15px;
  border-top: 1px solid #e2e2e2;
}
.product-description-tab ul li:last-child{
  border-bottom: 1px solid #e2e2e2;
}
.product-description-tab ul li a.acc-title{
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  width: 100%;
  position: relative;
}
.product-description-tab ul li a.acc-title::after{
  content:'>';
  position: absolute;
  right:0;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.product-description-tab  ul li a.acc-title::after{
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.product-description-tab ul li a.collapsed::after{
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.product-description-tab ul li .tab-content{
  margin-top: 15px;
}
.product-description-tab ul li .tab-content#pro-dec p{
  font-size: 16px;
}
.product-description-tab #shopify-product-reviews{
  margin: 0px 0 0;
}
.product-description-tab .spr-container{
  padding: 0;
  border: none;
}
.product-description-tab .spr-container .spr-header h2.spr-header-title{
  font-size: 16px;
  margin-bottom: 0;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 1;
}
.product-description-tab .spr-container .spr-header .spr-summary .spr-summary-starrating{
  display: flex;
  margin: 15px 0 0;
  line-height: 0;
}
.product-description-tab .spr-container .spr-header .spr-summary .spr-summary-starrating .spr-icon{
  display: block;
  font-size: 14px !important;
  width: 16px;
  height: auto;
  position: unset;
  {% if settings.enable_rtl %}
  margin-left: 5px;
  {% else %}
  margin-right: 5px;
  {% endif %}
  line-height: 0;
}
.product-description-tab .spr-container .spr-header .spr-summary .spr-summary-starrating .spr-icon:last-child{
  {% if settings.enable_rtl %}
  margin-left: 0px;
  {% else %}
  margin-right: 0px;
  {% endif %}
}
.product-description-tab .spr-container .spr-header .spr-summary .spr-summary-starrating .spr-icon-star:before,
.product-description-tab .spr-container .spr-header .spr-summary .spr-summary-starrating .spr-icon-star-half-alt:before{
  color: #ffb503;
}
.product-description-tab .spr-container .spr-header .spr-summary .spr-summary-caption{
  display: block;
  margin-top: 10px;
  line-height: 1;
}
.product-description-tab .spr-container .spr-header .spr-summary .spr-summary-actions{
  display: block;
  margin-top: 13px;
  {% if settings.enable_rtl %}
  text-align: right;
  {% else %}
  text-align: left;
  {% endif %}
}
.product-description-tab .spr-container .spr-header .spr-summary .spr-summary-actions-newreview{
  float: none;
}
.product-description-tab .spr-container .spr-header .spr-summary .spr-summary-actions-newreview,
.product-description-tab .spr-container .spr-content .spr-form form .spr-button{
  color: #fff;
  font-size: 14px;
  padding: 12px 20px;
  background-color: #222;
  text-transform: uppercase;
  border: none;
  border-radius: 0;
  line-height: 1;
}
.product-description-tab .spr-container .spr-content .spr-form form .spr-button{
  box-shadow: none;
}
.product-description-tab .spr-container .spr-header .spr-summary .spr-summary-actions-newreview:hover,
.product-description-tab .spr-container .spr-content .spr-form form .spr-button:hover{
  background-color: {{ settings.color_primary }};
}
.product-description-tab .spr-container .spr-content .spr-form{
  margin: 30px 0 0 0;
  padding: 30px 0 0 0;
  border-top: 1px solid #eee;
}
.product-description-tab .spr-container .spr-content .spr-form form h3.spr-form-title{
  font-size: 16px;
  text-transform: capitalize;
  line-height: 1;
}
.product-description-tab .spr-container .spr-content .spr-form form fieldset label.spr-form-label{
  display: block;
  font-size: 14px;
  margin-bottom: 10px;
  line-height: 1;
}
.product-description-tab .spr-container .spr-content .spr-form form fieldset .spr-form-contact-name{
  margin: 15px 0 0px 0;
}
.product-description-tab .spr-container .spr-content .spr-form form fieldset .spr-form-contact-email,
.product-description-tab .spr-container .spr-content .spr-form form fieldset .spr-form-review-rating,
.product-description-tab .spr-container .spr-content .spr-form form fieldset .spr-form-review-title,
.product-description-tab .spr-container .spr-content .spr-form form fieldset .spr-form-review-body{
  margin: 15px 0 0px 0;
}
.product-description-tab .spr-container .spr-content .spr-form form fieldset .spr-form-review-rating .spr-starrating{
  display: flex;
}
.product-description-tab .spr-container .spr-content .spr-form form fieldset .spr-form-review-rating .spr-starrating a{
  display: block;
  font-size: 14px !important;
  width: 16px;
  height: auto;
  position: unset;
  {% if settings.enable_rtl %}
  margin-left: 5px;
  {% else %}
  margin-right: 5px;
  {% endif %}
  opacity: 1;
  line-height: 0;
}
.product-description-tab .spr-container .spr-content .spr-form form fieldset .spr-form-review-rating .spr-starrating a:last-child{
  {% if settings.enable_rtl %}
  margin-left: 0px;
  {% else %}
  margin-right: 0px;
  {% endif %}
}
.product-description-tab .spr-container .spr-content .spr-form form fieldset .spr-form-review-rating .spr-starrating a.spr-icon.spr-icon-star-empty::before{
  content: '\e800';
  color: #ccc;
}
.product-description-tab .spr-container .spr-content .spr-form form fieldset .spr-form-review-rating .spr-starrating a.spr-icon,
.product-description-tab .spr-container .spr-content .spr-form form fieldset .spr-form-review-rating .spr-starrating a.spr-icon.spr-icon-star.spr-icon-star-hover::before{
  color: #ffb503;
}
.product-description-tab .spr-container .spr-content .spr-form form .spr-button{
  float: none;
  margin-top: 15px;
}
.product-description-tab .spr-container .spr-content .spr-form form .spr-form-message-success{
  color: #28a745;
  margin-top: 15px;
  font-weight: 600;
}
.product-description-tab .spr-container .spr-content .spr-reviews{
  margin: 0;
  padding: 0;
}
.product-description-tab .spr-container .spr-content .spr-reviews .spr-review .spr-review-header-starratings{
  display: block;
  margin: 0;
  line-height: 0;
}
.product-description-tab .spr-container .spr-content .spr-reviews .spr-review .spr-review-header-starratings .spr-icon{
  font-size: 14px !important;
  position: unset;
  height: auto;
  width: auto;
  {% if settings.enable_rtl %}
  margin-left: 5px;
  {% else %}
  margin-right: 5px;
  {% endif %}
  opacity: 1;
}
.product-description-tab .spr-container .spr-content .spr-reviews .spr-review .spr-review-header-starratings .spr-icon:last-child{
  {% if settings.enable_rtl %}
  margin-left: 0px;
  {% else %}
  margin-right: 0px;
  {% endif %}
}
.product-description-tab .spr-container .spr-content .spr-reviews .spr-review .spr-review-header-starratings .spr-icon-star:before{
  color: #ffb503;
}
.product-description-tab .spr-container .spr-content .spr-reviews .spr-review .spr-review-header-starratings .spr-icon-star-empty:before{
  content: '\e800';
  color: #ccc;
}
.product-description-tab .spr-container .spr-content .spr-reviews .spr-review .spr-review-header h3.spr-review-header-title{
  font-size: 14px;
  font-weight: 500;
  margin-top: 10px;
}
.product-description-tab .spr-container .spr-content .spr-reviews .spr-review .spr-review-header span.spr-review-header-byline{
  display: block;
  font-size: 14px;
  margin: 10px 0px 0 0;
  font-style: normal;
  opacity: 1;
  line-height: 1;
}
.product-description-tab .spr-container .spr-content .spr-reviews .spr-review .spr-review-header span.spr-review-header-byline strong{
  font-weight: 600;
}
.product-description-tab .spr-container .spr-content .spr-reviews .spr-review .spr-review-content{
  margin: 10px 0 0px 0;
}
.product-description-tab .spr-container .spr-content .spr-reviews .spr-review .spr-review-content p.spr-review-content-body{
  font-size: 13px;
}
.product-description-tab .spr-container .spr-content .spr-reviews .spr-review .spr-review-footer{
  display: none;
}
@media (max-width: 1599px){
  .product-description-tab{
    margin-top: 30px;
  }
}
@media (max-width: 1199px){
  .product-description-tab ul li a.acc-title{
    font-size: 15px;
  }
  .product-description-tab ul li .tab-content#pro-dec p{
    font-size: 14px;
  }
  .product-description-tab .spr-container .spr-header h2.spr-header-title{
    font-size: 15px;
  }
}
@media(max-width: 991px){
  .product-description-tab{
    margin-top: 20px;
  }
}
@media (max-width: 767px){
  .product-description-tab .spr-container .spr-header h2.spr-header-title,
  .product-description-tab .spr-container .spr-header .spr-summary .spr-summary-caption{
    {%- if settings.enable_rtl -%}
    text-align: right;
    {%- else -%}
    text-align: left;
    {%- endif -%}
  }
  .product-description-tab .spr-container .spr-content .spr-form{
    margin: 20px 0 0 0;
    padding: 20px 0 0 0;
  }
}
/* product review form error css */
.product-description-tab .spr-container .spr-content .spr-form form .spr-form-message-error{
  padding: 10px 15px;
  margin: 15px 0 0;
}
/* product video tab css */
.product-description-tab .youtube-video .video-wrapper{
  padding-bottom: 0;
  line-height: 0;
}
.product-description-tab .youtube-video .video-wrapper iframe{
  height: 350px;
  width: 100%;
  position: unset;
}
@media (max-width: 767px){
  .product-description-tab .youtube-video{
    margin-top: 20px;
  }
}

.product-beige{
  background-color:#FCF6F3;
  padding:40px 0;
  margin:0 45px;
}
@media (max-width: 767px){
  .product-beige{
    margin:0;
    padding-top: 20px;
  }
}
.product_detail_img{
    position: relative;
}
.product-detail_badge{
    position: absolute;
    z-index: 10;
    font-size: 35px;
    top: -15px;
    right: -10px;
}
.product-badge p{
  font-size:35px;
  margin-top:20px;
  color:#E0B566;
  font-family: Whisper,cursive;
}
.product-infos{
    display: flex;
    align-items: center;
}
.product-infos h6{
  width: 90px;
}
.product-infos h6, .product-download span{
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 1;
  color:#000;
}
.product-download p{
  display: grid;
  grid-template-columns: 4fr repeat(2, 2fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 70%;
    align-items: center;
}
.product-download a{
  text-decoration: underline;
}
.product-download{
  margin:50px 0;
}
.product-download svg{
  height: 20px;
}
.product-infos .variant-sku{
    font-size: 16px;
    margin-left: 15px;
}
.price-no-vat{
  font-size:18px;
  margin-top:-10px;
  opacity:.7;
}
.old-price-novat{
  text-decoration: line-through;
}
.product-desc{
    border-top: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
    padding:30px 0;
    margin:20px 0;
}
@media (max-width: 767px){
  .product-detail_badge{
    right: 20px;
  }
  .product-download{
  margin:20px 0;
  }
}
.product_details_info .pro-prlb{
      margin-top:50px;
    }
{% unless product.metafields.my_fields.color_swatche.value != blank %}
    .swatch-custom-container{
        display: none;
    }

    {% endunless %}



    div.swatch-custom-container > div > div > div > a:nth-child(2){
      pointer-events: none;
    }
    @media (max-width:767px) {
      .product-download p{
        width:100%;
      }
    }

    /* table */
    .technic-table{
      width: 100%;
    }
    .technic-row{
      vertical-align: baseline;
    }
    .technic-title{
        width: 40%;
    }
    .technic-value{
      text-align: right;
    }

    .product-variant-custom .swatch-variant .swatch{
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 40px;
  }
  .product-variant-custom .swatch-variant .swatch h6{
    font-size: 16px;
    text-transform: uppercase;
    line-height: 1;
    font-weight: 500;
    min-width: 150px;
  }
  .swatch-custom{
        display: flex!important;
    }
    .product-variant-custom .swatch-variant {
    margin-top: -40px;
    display: flex;
    flex-direction: column-reverse;
  }
  div.swatch-custom-container > div > div > div > a > label:hover,
div.swatch-custom-container > div > div > div > a:nth-child(2) > label{
    border: 1px solid black!important;
  }
  @media(min-width:768px){
    .desktop-hide{
      display:none;
    }
  }
  @media(max-width:767px){
    .mobile-hide{
      display:none!important;
    }
    .product-title h6{
      font-size:24px;
    }
    .product-infos h6{
      width:unset;
    }
    .product-variant-custom .swatch-variant .swatch h6,.product-variant-option .swatch-variant .swatch h6, .product_details_info .price-box h6{
      min-width: 80px;
    }
    .price-box{
      display:flex;
      align-items: baseline;
      gap:15px;
    }
    .product_details_info .pro-prlb, .product-swatches, .product-variant-option .swatch-variant .swatch{
      margin-top:10px;
    }
    .product_details_info .product-actions{
      padding-top:0;
    }
    .product-variant-custom .swatch-variant{
      margin-top:-20px;
    }
    .product-badge{
      margin-bottom: 10px;
    }
  }
  .product-sku-mobile{
    justify-content: space-between;
    align-items: baseline;
    margin:5px 0 20px 0;
  }
  .product-sku-mobile div{
    display:flex;
    align-items: baseline;
    width: 50%;

  }
  .product-sku-mobile div h6, .product-sku-mobile .variant-sku{
    font-size:12px;
  }
  @media(max-width:350px){
    .product-sku-mobile{
      flex-direction: column;
    }
    .product-infos h6{
      width: 30%;
    }
    .product-sku-mobile .product-infos .variant-sku, .product-sku-mobile div{
      width:100%;
    }
    .product-variant-custom .swatch-variant .swatch .swatch-element label, .color-swatch-hex{
      height:30px;
      width:30px;
    }
    .product-variant-option .swatch-variant .swatch .swatch-element label{
      padding:0!important;
    }
  }

  .slick-lightbox .slick-prev{
    top:50%;
    position: absolute;

  }
  .thumbnail-img2{
    cursor:pointer;
  }
</style>
{%- assign wcp_prd_var = product -%}
{%- unless wcp_prd_var == empty -%}
            <script type='application/json' class='{%- for wcp_v in wcp_prd_var.variants -%} wcp_json_{{wcp_v.id}} {%- endfor -%} wcp_json_{{ wcp_prd_var.id }} wcp_json' id='wcp_json_{{ wcp_prd_var.id }}' > 
                {%- render 'wcp_product_json' with wcp_prd_var -%}
            </script>
{%- endunless -%}
