<!-- PRODUCT SECTION START -->

{% assign related_product_limit = related_product_limit_count | plus: 1 %}

{% if collection == null or collection.handle == 'frontpage' or collection.handle == 'all' %}
  {% assign product_found = false %}

  {% for c in product.collections %}
    {% if product_found == false and c.handle != 'frontpage' and c.handle != 'all' and c.all_products_count > 1 %}
      {% assign product_found = true %}
      {% assign collection = c %}
    {% endif %}
  {% endfor %}
{% endif %}

{% if collection and collection.products_count > 1 and section.settings.related_products_enable %}
  <section class="related-product product-recommendations" data-url="{{ routes.product_recommendations_url }}?section_id={{ section.id }}&product_id={{ product.id }}&limit=8&intent=related">
    <div class="container">
      <div class="row">
        <div class="col">
          {% if section.settings.related_title != '' %}
            <div class="section-capture">
              <div class="section-title">
                {% if collection.title != '' %}
                  <span class="sub-title">{{ collection.title }}</span>
                {% endif %}
                {% if section.settings.related_title != '' %}
                  <h2 class="heading-home">
                    <span>{{ section.settings.related_title }}</span>
                  </h2>
                {% endif %}
              </div>
            </div>
          {% endif %}
          <div class="product-related-slider owl-carousel owl-theme" id="related-slider">
            {% assign current_product = product %}
            {% assign current_product_count = false %}
            {%- for product in recommendations.products -%}
              {% if product.handle == current_product.handle %}
                {% assign current_product_count = false %}
              {% else %}
                {% unless current_product_count == true and forloop.last %}
                  {% if product.available %}

                    <div class="item wow animate__animated animate__fadeIn">
                      {% include 'product-grid-item' %}
                    </div>
                  {% endif %}
                {% endunless %}
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </section>
{% endif %}
<!-- PRODUCT SECTION END -->

<script>
  const handleIntersection = (entries, observer) => {
    if (!entries[0].isIntersecting) return;

    observer.unobserve(productRecommendationsSection);

    const url = productRecommendationsSection.dataset.url;

    fetch(url)
      .then(response => response.text())
      .then(text => {
        const html = document.createElement('div');
        html.innerHTML = text;
        const recommendations = html.querySelector('.product-recommendations');

        if (recommendations && recommendations.innerHTML.trim().length) {
          productRecommendationsSection.innerHTML = recommendations.innerHTML;

          // Initialize the slider after recommendations have loaded
          initializeSlider();
        }
      })
      .catch(e => {
        console.error(e);
      });
  };

  const initializeSlider = () => {
    $('#related-slider').owlCarousel({
      loop: false,
      rewind: true,
      margin: 30,
      nav: false,
      navText: ['<i class="fa fa-angle-left"></i>', '<i class="fa fa-angle-right"></i>'],
      dots: false,
      {%- if settings.enable_rtl -%}
      rtl: true,
      {%- endif -%}
      autoplay: true,
      autoplayTimeout: 5000,
      autoplayHoverPause: true,
      responsive: {
        0: {
          items: 2,
          margin: 15,
        },
        479: {
          items: 2,
          margin: 15,
        },
        768: {
          items: 2,
        },
        979: {
          items: 3,
        },
        1199: {
          items: 4,
        },
      },
    });
  };

  const productRecommendationsSection = document.querySelector('.product-recommendations');
  const observer = new IntersectionObserver(handleIntersection, { rootMargin: '0px 0px 200px 0px' });

  observer.observe(productRecommendationsSection);
</script>

{% schema %}
  {
    "name": "Related Product",
    "settings": [
      {
        "type": "checkbox",
        "id": "related_products_enable",
        "label": "Show Related Product",
        "default": true
      },
      {
        "type": "header",
        "content": "Section Padding"
      },
      {
        "type": "paragraph",
        "content": "Desktop / Laptop / tablet"
      },
      {
        "type": "range",
        "id": "related_padding_top",
        "label": "Section Padding Top",
        "min": 0,
        "max": 100,
        "step": 5,
        "unit": "px",
        "default": 100
      },
      {
        "type": "range",
        "id": "related_padding_bottom",
        "label": "Section Padding Bottom",
        "min": 0,
        "max": 100,
        "step": 5,
        "unit": "px",
        "default": 100
      },
      {
        "type": "paragraph",
        "content": "Ipad pro / Ipad"
      },
      {
        "type": "range",
        "id": "related_padding_top_ipad",
        "label": "Section Padding Top",
        "min": 0,
        "max": 100,
        "step": 5,
        "unit": "px",
        "default": 60
      },
      {
        "type": "range",
        "id": "related_padding_bottom_ipad",
        "label": "Section Padding Bottom",
        "min": 0,
        "max": 100,
        "step": 5,
        "unit": "px",
        "default": 60
      },
      {
        "type": "paragraph",
        "content": "Mobile"
      },
      {
        "type": "range",
        "id": "related_padding_top_xs",
        "label": "Section Padding Top",
        "min": 0,
        "max": 100,
        "step": 5,
        "unit": "px",
        "default": 40
      },
      {
        "type": "range",
        "id": "related_padding_bottom_xs",
        "label": "Section Padding Bottom",
        "min": 0,
        "max": 100,
        "step": 5,
        "unit": "px",
        "default": 40
      },
      {
        "type": "header",
        "content": "Section Title"
      },
      {
        "type": "text",
        "id": "related_title",
        "label": "Section Title",
        "default": "Related Product"
      }
    ]
  }
{% endschema %}
<style>
  .related-product {
    padding-top: {{ section.settings.related_padding_top }}px;
    padding-bottom: {{ section.settings.related_padding_bottom }}px;
  }
  @media (max-width: 1199px) {
    .related-product {
      padding-top: {{ section.settings.related_padding_top_ipad }}px;
      padding-bottom: {{ section.settings.related_padding_bottom_ipad }}px;
    }
  }
  @media (max-width: 767px) {
    .related-product {
      padding-top: {{ section.settings.related_padding_top_xs }}px;
      padding-bottom: {{ section.settings.related_padding_bottom_xs }}px;
    }
  }
  .product-related-slider.owl-carousel .owl-item {
    padding: 15px 0;
  }
  .related-product {
    overflow: hidden;
  }
</style>