<!-- Browuse categoryies -->
<section class="slider-category">
  <div class="container-fluid category-col">
    <div class="row slider-row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-12">
        <div class="cat-slider owl-carousel owl-theme" id="cat-slider">
          {% for block in section.blocks %}
          {% assign category_product = collections[block.settings.slider_category_handle] %}
          {% if block.settings.category_enable %}
          <div class="item{% if block.settings.cat_banner_size == "small" %} cat-banner-small{% else %} cat-banner-medium{% endif %}">
            <div class="category-wrap">
              <a href="{{ category_product.url }}" class="cat-img">
                <img class="img-fluid" src="{% if category_product.image.src %}{{ category_product.image.src | img_url: 'master' }}{% else %}{% if block.settings.cat_banner_size == "small" %}https://dummyimage.com/463x538/f7f7f7/999999{% else %}https://dummyimage.com/541x564/f7f7f7/999999{% endif %}{% endif %}">
              </a>
              <div class="text-content">
                <div class="content-left">
                  <h3 class="cat-title">{{ category_product.title }}</h3>
                  <a href="{{ category_product.url }}" class="cat-button">{{ block.settings.shop_button }}</a>
                </div>
                <div class="content-right">
                  <h2 style="color: {{ block.settings.sale_title_color }};">{{ block.settings.sale_title }}</h2>
                </div>
              </div>
            </div>
          </div>
          {% else %}
          {% assign category_product = collections[block.settings.special_label_product] %}
          <div class="item cat-pro swiper-container" id="cat-pro">
            <div class="swiper-wrapper">
              {% assign category_product_limit = block.settings.category_special_product_limit_handle %}
              {% for product in category_product.products limit: category_product_limit %}
              <div class="swiper-slide">
                {% include 'category-product-grid' %}
              </div>
              {% endfor %}
            </div>
            <div class="swiper-buttons">
              <div class="swiper-button-prev">
                <i class="ti-angle-left"></i>
              </div>
              <div class="swiper-button-next">
                <i class="ti-angle-right"></i>
              </div>
            </div>
          </div>
          {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>

<div class="test">
  <div>1</div>
  <div>1</div>
  <div>1</div>
  <div>1</div>
  <div>1</div>
  <div>1</div>
</div>

<style>
  .slider-row{
    overflow: hidden;
  }
</style>
<script type="text/javascript">
  $( document ).ready(function() {
    $('#cat-slider').owlCarousel({
      loop: false,
      rewind: true,
      margin: 50,
      nav: false,
      dots: false,
      {%- if settings.enable_rtl -%}
      rtl: true,
      {%- endif -%}
      responsive:{
        0:{
          items: 1,
          margin: 15
        },
        479:{
          items: 2,
          margin: 15
        },
        768:{
          items: 2,
          margin: 30
          
        },
        979:{
          items: 2,
          margin: 30
        },
        1199:{
          items: 3,
          margin: 30
        },
        1599:{
          items: 4,
          margin: 50
        }
      }
    });
    var swiper = new Swiper('.swiper-container.cat-pro', {
      slidesPerColumn: 1,
      slidesPerView: 1,
      spaceBetween: 0,
      observer: true,
      observeParents: true,
      {%- if settings.enable_rtl -%}
      rtl: true,
      {%- endif -%}
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      }
    });
  });
</script>
{% schema %}
{
  "name": "Category",
  "settings": [
  {
    "type" : "header",
    "content" : "Section Padding"
  },
  {
    "type" : "paragraph",
    "content" : "Desktop / Laptop / tablet"
  },
  {
    "type": "range",
    "id": "section_padding_top",
    "label": "Section Padding Top",
    "min": 0,
    "max": 100,
    "step": 1,
    "unit": "px",
    "default": 60
  },
  {
    "type": "range",
    "id": "section_padding_bottom",
    "label": "Section Padding Bottom",
    "min": 0,
    "max": 100,
    "step": 1,
    "unit": "px",
    "default": 60
  },
  {
    "type" : "paragraph",
    "content" : "Ipad pro / Ipad"
  },
  {
    "type": "range",
    "id": "section_padding_top_ipad",
    "label": "Section Padding Top",
    "min": 0,
    "max": 100,
    "step": 1,
    "unit": "px",
    "default": 30
  },
  {
    "type": "range",
    "id": "section_padding_bottom_ipad",
    "label": "Section Padding Bottom",
    "min": 0,
    "max": 100,
    "step": 1,
    "unit": "px",
    "default": 30
  },
  {
    "type" : "paragraph",
    "content" : "Mobile"
  },
  {
    "type": "range",
    "id": "section_padding_top_xs",
    "label": "Section Padding Top",
    "min": 0,
    "max": 100,
    "step": 1,
    "unit": "px",
    "default": 20
  },
  {
    "type": "range",
    "id": "section_padding_bottom_xs",
    "label": "Section Padding Bottom",
    "min": 0,
    "max": 100,
    "step": 1,
    "unit": "px",
    "default": 20
  },
  {
    "type" : "color",
    "id" : "slider_cat_bgcolor",
    "label" : "Background Color",
    "default" : "#fff"
  },
  {
    "type" : "checkbox",
    "id" : "slider_cat_bgcolor_enable",
    "label" : "With Backgorund",
    "default" : true
  }
  ],
  "blocks" : [
  {
    "type" : "slider_cat",
    "name" : "Slider category",
    "settings" : [
    {
      "type" : "checkbox",
      "id" : "category_enable",
      "label" : "Category Enable",
      "default" : true
    },
    {
      "type": "collection",
      "id": "slider_category_handle",
      "label": "Select Your Collection"
    },
    {
      "type" : "text",
      "id" : "shop_button",
      "label" : "Shop Now button",
      "default" : "Shop now"
    },
    {
      "type" : "text",
      "id" : "sale_title",
      "label" : "Sale title",
      "default" : "Sale"
    },
    {
      "type" : "color",
      "id" : "sale_title_color",
      "label" : "sale title color",
      "default" : "#333"
    },
    {
      "type" : "header",
      "content" : "Category Or Product Enable"
    },
    {
      "type" : "collection",
      "id" : "special_label_product",
      "label" : "Special Product"
    }
    ]
  }
  ],
  "presets":[
  {
    "name": "Category 1",
    "category": "Shop By Category"
  }
  ]
}
{% endschema %}
<style>
.slider-category {
  padding-top: {{ section.settings.section_padding_top }}px;
  padding-bottom: {{ section.settings.section_padding_bottom }}px;
  {% if section.settings.slider_cat_bgcolor_enable %}
  background-color: {{ section.settings.slider_cat_bgcolor }};
  {% endif %}
}
@media (max-width: 1199px) {
  .slider-category {
    padding-top: {{ section.settings.section_padding_top_ipad }}px;
    padding-bottom: {{ section.settings.section_padding_bottom_ipad }}px;
  }
}
@media (max-width: 767px) {
  .slider-category {
    padding-top: {{ section.settings.section_padding_top_xs }}px;
    padding-bottom: {{ section.settings.section_padding_bottom_xs }}px;
  }
}
.slider-category .category-col{
  padding-left: 100px;
  padding-right: 100px;
}
@media(max-width: 1599px){
  .slider-category .category-col{
    padding-left: 60px;
    padding-right: 60px;
  }
}
@media(max-width: 1299px){
  .slider-category .category-col{
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media(max-width: 767px){
  .slider-category .category-col{
    padding-left: 15px;
    padding-right: 15px;
  }
}
.slider-category .cat-slider .item .category-wrap a.cat-img,
.slider-category .cat-slider .item .category-wrap{
  position: relative;
  overflow: hidden;
  display: flex;
  width: 100%;
}
.slider-category .cat-slider .item .category-wrap a.cat-img img{
  width: 100%;
}
.slider-category .cat-slider .item .category-wrap .text-content{
  position: absolute;
  bottom: 50px;
  left: 50px;
  right: 50px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.slider-category .cat-slider .item .category-wrap .text-content h3{
  font-size: 20px;
  line-height: 1;
  font-weight: 500;
}
.slider-category .cat-pro .single-product-wrap .product-cart-btn a.ajax-spin-cart,
.slider-category .cat-slider .item .category-wrap .text-content a.cat-button{
  position: relative;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 600;
  color: #6f6f6f;
  line-height: 1;
  padding-bottom: 3px;
  margin-top: 17px;
}
.slider-category .cat-pro .single-product-wrap .product-cart-btn a.ajax-spin-cart:after,
.slider-category .cat-slider .item .category-wrap .text-content a.cat-button:after{
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1px;
  margin: auto;
  left: 0;
  right: 0;
  background-color: #232323;
  -moz-transition: width .2s linear;
  -o-transition: width .2s linear;
  -webkit-transition: width .2s linear;
  transition: width .2s linear;
}
.slider-category .cat-pro .single-product-wrap .product-cart-btn a.ajax-spin-cart:hover:after,
.slider-category .cat-slider .item .category-wrap .text-content a.cat-button:hover:after{
  width: 0;
}
.slider-category .cat-slider .item .category-wrap .text-content .content-right h2{
  font-size: 60px;
  line-height: 1;
  font-weight: 500;
  height: 40px;
  font-family: 'Zeyada', cursive;
}
@media(max-width: 1199px){
  .slider-category .cat-slider .item .category-wrap .text-content{
    bottom: 15px;
    right: 15px;
    left: 15px;
  }
  .slider-category .cat-slider .item .category-wrap .text-content h3{
    font-size: 16px;
  }
  .slider-category .cat-slider .item .category-wrap .text-content a.cat-button{
    font-size: 14px;
    margin-top: 10px;
  }
  .slider-category .cat-slider .item .category-wrap .text-content .content-right h2{
    font-size: 50px;
    height: 35px;
  }
}
@media(max-width: 991px){
  .slider-category .cat-slider .item .category-wrap .text-content .content-right h2{
    font-size: 40px;
    height: 30px;
  }
}

/*category product*/
.slider-category .cat-pro .single-product-wrap{
  position: relative;
  overflow: hidden;
}
.slider-category .cat-pro .single-product-wrap .product-title{
  position: absolute;
  top: 50px;
  {%- if settings.enable_rtl -%}
  right: 50px;
  {%- else -%}
  left: 50px;
  {%- endif -%}
}
.slider-category .cat-pro .single-product-wrap .product-image .product-label span.percent-count,
.slider-category .cat-pro .single-product-wrap .product-image .product-label span.new-title{
  top: 50px;
  {%- if settings.enable_rtl -%}
  left: 50px;
  right: auto;
  {%- else -%}
  right: 50px;
  left: auto;
  {%- endif -%}
}
.slider-category .cat-pro .single-product-wrap .product-title h6{
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
}
.slider-category .cat-pro .single-product-wrap .product-title span{
  font-size: 16px;
  line-height: 1;
  margin-top: 12px;
}
.slider-category .cat-pro .single-product-wrap .product-cart-btn {
  position: absolute;
  bottom: 50px;
  {%- if settings.enable_rtl -%}
  right: 50px;
  {%- else -%}
  left: 50px;
  {%- endif -%}
}

/*slider arrow*/
.slider-category .cat-pro .swiper-buttons{
  position: absolute;
  {%- if settings.enable_rtl -%}
  left: 50px;
  {%- else -%}
  right: 50px;
  {%- endif -%}
  bottom: 50px;
  display: flex;
  align-items: center;
}
.slider-category .cat-pro .swiper-buttons .swiper-button-prev,
.slider-category .cat-pro .swiper-buttons .swiper-button-next{
  font-size: 14px;
  position: unset;
  height: 53px;
  width: 53px;
  border-radius: 100%;
  outline: 0;
  border: 1px solid #cccccc;
  margin: 0;
  cursor: pointer;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: none;
}
.slider-category .cat-pro .swiper-buttons .swiper-button-prev{
  {%- if settings.enable_rtl -%}
  margin-left: 10px;
  {%- else -%}
  margin-right: 10px;
  {%- endif -%}
}
.slider-category .cat-pro .swiper-buttons .swiper-button-prev i,
.slider-category .cat-pro .swiper-buttons .swiper-button-next i{
  font-weight: bold;
}
@media(max-width: 1199px){
  .slider-category .cat-pro .single-product-wrap .product-title{
    top: 15px;
    {%- if settings.enable_rtl -%}
    right: 15px;
    {%- else -%}
    left: 15px;
    {%- endif -%}
  }
  .slider-category .cat-pro .single-product-wrap .product-cart-btn{
    {%- if settings.enable_rtl -%}
    right: 15px;
    {%- else -%}
    left: 15px;
    {%- endif -%}
    bottom: 15px;
  }
  .slider-category .cat-pro .single-product-wrap .product-title h6{
    font-size: 16px;
  }
  .slider-category .cat-pro .single-product-wrap .product-title span{
    font-size: 14px;
  }
  .slider-category .cat-pro .single-product-wrap .product-image .product-label span.percent-count,
  .slider-category .cat-pro .single-product-wrap .product-image .product-label span.new-title{
    top: 15px;
    {%- if settings.enable_rtl -%}
    left: 15px;
    {%- else -%}
    right: 15px;
    {%- endif -%}
  }
  /*slider arrow*/
  .slider-category .cat-pro .swiper-buttons{
    {%- if settings.enable_rtl -%}
    left: 15px;
    {%- else -%}
    right: 15px;
    {%- endif -%}
    bottom: 15px;
  }
  .slider-category .cat-pro .swiper-buttons .swiper-button-prev,
  .slider-category .cat-pro .swiper-buttons .swiper-button-next{
    font-size: 12px;
    height: 35px;
    width: 35px;
  }
}
</style>